TEST_OPCUA.json
[{"type":"tab","id":"fcc67842.033988","label":"BROWSE TO FILE"},{"id":"fd7d7d1f.02828","type":"OpcUaBrowse","item":"ns=1;s=al:A1:TIC100:mella/Quality\n","datatype":"opcua.DataType.Double","value":"","x":358,"y":207,"z":"fcc67842.033988","wires":[["bc233d76.43dcc"]]},{"id":"5f40058d.a0bffc","type":"OpcUaClient","endpoint":"opc.tcp://localhost:26543","action":"browse","time":"60000","name":"Browse","x":299,"y":99,"z":"fcc67842.033988","wires":[["5457f1d8.aba81","d2109af5.2def68"]]},{"id":"b33ddd6a.4cc22","type":"inject","name":"Root/Objects","topic":"i=85","payload":"","payloadType":"string","repeat":"","crontab":"","once":false,"x":135,"y":99,"z":"fcc67842.033988","wires":[["5f40058d.a0bffc"]]},{"id":"2db1779.fd24e88","type":"file","name":"Browse address file","filename":".\\public\\Address.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":706,"y":100,"z":"fcc67842.033988","wires":[]},{"id":"5457f1d8.aba81","type":"template","name":"Topic -> address","field":"payload","format":"handlebars","template":"{{topic}}","x":471,"y":99,"z":"fcc67842.033988","wires":[["2db1779.fd24e88"]]},{"id":"739774d3.8c688c","type":"debug","name":"Value","active":true,"console":"false","complete":"payload","x":733,"y":208,"z":"fcc67842.033988","wires":[]},{"id":"eadad10.f15253","type":"inject","name":"TEST","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":123,"y":206,"z":"fcc67842.033988","wires":[["fd7d7d1f.02828"]]},{"id":"bc233d76.43dcc","type":"OpcUaClient","endpoint":"opc.tcp://localhost:26543","action":"read","time":10000,"name":"Local","x":582,"y":207,"z":"fcc67842.033988","wires":[["739774d3.8c688c"]]},{"id":"d56a1ce1.2a95e","type":"file","name":"Clear address cache file","filename":".\\public\\Address.txt","appendNewline":true,"createDir":false,"overwriteFile":"delete","x":692,"y":58,"z":"fcc67842.033988","wires":[]},{"id":"c23bdff3.3dc42","type":"inject","name":"Clear cache","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":473,"y":57,"z":"fcc67842.033988","wires":[["d56a1ce1.2a95e"]]},{"id":"d2109af5.2def68","type":"debug","name":"Show","active":true,"console":"false","complete":"payload","x":460,"y":138,"z":"fcc67842.033988","wires":[]}]