examples/Browser_contrib_ui_flow.json
[
    {
        "id": "7355c7ff.6875b8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bcb8bf9d.d874e",
        "type": "ui_template",
        "z": "7355c7ff.6875b8",
        "group": "95b70233.1d5dc",
        "name": "Browse",
        "order": 0,
        "width": "6",
        "height": "11",
        "format": "<div layout=\"row\" layout-align=\"space-between\">\n    <select ng-model=\"item\" ng-options=\"items.item.displayName.text for items in msg.payload\">\n        <option value=\"\">-- Objects Root --</option>\n    </select>\n    <button ng-click=\"send({payload: {actiontype: 'browse', root: item}})\">\n        Browse\n    </button>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <ul>\n        <li ng-repeat=\"items in msg.payload\">\n          {{items.item.displayName.text}}: {{items.item.nodeId}}\n        </li>\n    </ul>\n</div>\n",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 250.49998474121094,
        "y": 81.80000305175781,
        "wires": [
            [
                "1db890d7.e582cf",
                "420195c6.c1d27c"
            ]
        ]
    },
    {
        "id": "1db890d7.e582cf",
        "type": "ui_toast",
        "z": "7355c7ff.6875b8",
        "position": "top right",
        "displayTime": "2",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "Browsing...",
        "name": "Action",
        "x": 471.49998474121094,
        "y": 82.59999084472656,
        "wires": []
    },
    {
        "id": "420195c6.c1d27c",
        "type": "OpcUa-Browser",
        "z": "7355c7ff.6875b8",
        "endpoint": "b8f39990.157038",
        "item": "",
        "datatype": "",
        "topic": "ns=0;s=85/0:Simulation",
        "items": [],
        "x": 250.9000244140625,
        "y": 187.40000915527344,
        "wires": [
            [
                "bcb8bf9d.d874e"
            ]
        ]
    },
    {
        "id": "95b70233.1d5dc",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "eaa395ff.8b6348",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b8f39990.157038",
        "type": "OpcUa-Endpoint",
        "z": "",
        "endpoint": "opc.tcp://TREL16087112.vstage.co:53530/OPCUA/SimulationServer",
        "secpol": "None",
        "secmode": "NONE",
        "login": false
    },
    {
        "id": "eaa395ff.8b6348",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
