examples/CUSTOM_OBJECT.json
[{"id":"7f2a32b3.dbb0ac","type":"tab","label":"Server and Client - Custom Object","disabled":false,"info":""},{"id":"61f749e4.827ac8","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://localhost:53881","secpol":"None","secmode":"None","login":false},{"id":"e792520c.358e8","type":"OpcUa-Server","z":"7f2a32b3.dbb0ac","port":"53881","name":"Server Custom nodesets","endpoint":"","users":"users.json","nodesetDir":"C:\\TEMP\\TEST-CUSTOM","autoAcceptUnknownCertificate":true,"registerToDiscovery":false,"constructDefaultAddressSpace":false,"allowAnonymous":true,"endpointNone":true,"endpointSign":true,"endpointSignEncrypt":true,"endpointBasic128Rsa15":true,"endpointBasic256":true,"endpointBasic256Sha256":true,"maxNodesPerBrowse":0,"maxNodesPerHistoryReadData":0,"maxNodesPerHistoryReadEvents":0,"maxNodesPerHistoryUpdateData":0,"maxNodesPerRead":0,"maxNodesPerWrite":0,"maxNodesPerMethodCall":0,"maxNodesPerRegisterNodes":0,"maxNodesPerNodeManagement":0,"maxMonitoredItemsPerCall":0,"maxNodesPerHistoryUpdateEvents":0,"maxNodesPerTranslateBrowsePathsToNodeIds":0,"x":670,"y":140,"wires":[["29c30e84.2e3582"]]},{"id":"16049b2e.0c48c5","type":"inject","z":"7f2a32b3.dbb0ac","name":"Server Instantiate ExtensionObject","topic":"ns=1;s=Test2;datatype=ExtensionObject;typeId=ns=2;i=3010","payload":"{\"opcuaCommand\":\"addVariable\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":140,"wires":[["e792520c.358e8"]]},{"id":"43f40854.4b5cc8","type":"comment","z":"7f2a32b3.dbb0ac","name":"ns=1;s=Test2;datatype=ExtensionObject;typeId=ns=2;i=3010","info":"","x":520,"y":80,"wires":[]},{"id":"29c30e84.2e3582","type":"debug","z":"7f2a32b3.dbb0ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":140,"wires":[]},{"id":"23c98b80.3b43f4","type":"comment","z":"7f2a32b3.dbb0ac","name":"AutoID: ScanSettings","info":"","x":140,"y":80,"wires":[]},{"id":"dba03f7c.31504","type":"OpcUa-Client","z":"7f2a32b3.dbb0ac","endpoint":"61f749e4.827ac8","action":"build","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"BUILD EXTENSION OBJ.","x":590,"y":240,"wires":[["97d60b2b.18f6f8","86fb61bc.bb133"]]},{"id":"46b488a6.8fc8d8","type":"OpcUa-Item","z":"7f2a32b3.dbb0ac","item":"ns=2;i=3010","datatype":"Extension Object","value":"","name":"","x":360,"y":240,"wires":[["dba03f7c.31504"]]},{"id":"cc62a0c6.322e5","type":"inject","z":"7f2a32b3.dbb0ac","name":"Client Get ExtensionObject","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":240,"wires":[["46b488a6.8fc8d8"]]},{"id":"97d60b2b.18f6f8","type":"debug","z":"7f2a32b3.dbb0ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":240,"wires":[]},{"id":"86fb61bc.bb133","type":"json","z":"7f2a32b3.dbb0ac","name":"","property":"payload","action":"obj","pretty":false,"x":790,"y":300,"wires":[["b20e0af0.1d2988","5c3039d9.fee838"]]},{"id":"b20e0af0.1d2988","type":"debug","z":"7f2a32b3.dbb0ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":300,"wires":[]},{"id":"5c3039d9.fee838","type":"function","z":"7f2a32b3.dbb0ac","name":"Set values","func":"var myvar = {};\nmyvar.duration = 1000;\nmyvar.cycles = 5;\nmyvar.dataAvailable = true;\n\nmsg.dataType = \"ExtensionObject\";\n// Merge new values to payload\nObject.assign(msg.payload, myvar);\n\n// NOTE:\n// typeId need to constructExtensionObject\nmsg.topic=\"ns=1;s=Test2;datatype=ExtensionObject;typeId=ns=2;i=3010\";\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":360,"wires":[["acad5c5f.c2a89","19957e89.f09aa1"]]},{"id":"acad5c5f.c2a89","type":"debug","z":"7f2a32b3.dbb0ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1110,"y":360,"wires":[]},{"id":"19957e89.f09aa1","type":"OpcUa-Client","z":"7f2a32b3.dbb0ac","endpoint":"61f749e4.827ac8","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"WRITE","x":1100,"y":420,"wires":[["d2e5abb0.3f5078"]]},{"id":"d2e5abb0.3f5078","type":"debug","z":"7f2a32b3.dbb0ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1270,"y":420,"wires":[]}]