examples/EVENTS.json
[{"id":"1fa0b22.ea7114e","type":"tab","label":"EVENTS","disabled":false,"info":""},{"id":"2e492080.82aa3","type":"OpcUa-Endpoint","z":"","endpoint":"","secpol":"None","secmode":"None","login":false},{"id":"f4ca709e.f1293","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://H7Q8Q13.mshome.net:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false},{"id":"a0f5e5a3.f043e8","type":"OpcUa-Event","z":"1fa0b22.ea7114e","root":"i=2253","eventtype":"i=2041","name":"","x":440,"y":160,"wires":[["9d0a5ec1.e663b"]]},{"id":"9d0a5ec1.e663b","type":"OpcUa-Client","z":"1fa0b22.ea7114e","endpoint":"f4ca709e.f1293","action":"events","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","securitymode":"None","securitypolicy":"None","name":"","x":680,"y":160,"wires":[["62b0e35d.fcad8c"]]},{"id":"c026a47f.b45cc8","type":"inject","z":"1fa0b22.ea7114e","name":"Test","topic":"10","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":160,"wires":[["a0f5e5a3.f043e8"]]},{"id":"62b0e35d.fcad8c","type":"debug","z":"1fa0b22.ea7114e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":840,"y":160,"wires":[]}]