examples/IGSS_OPCUA.json
[
  {
    "type": "tab",
    "id": "39bb936b.c6446c",
    "label": "IGSS OPC UA Tests"
  },
  {
    "id": "da070375.25f9",
    "type": "OpcUaClient",
    "endpoint": "opc.tcp://trel13096286:12403/IGSS/IGSSOpcUaServer",
    "action": "browse",
    "time": 10000,
    "name": "Browse",
    "x": 249,
    "y": 171,
    "z": "39bb936b.c6446c",
    "wires": [
      [
        "22f1b124.dd0e4e"
      ]
    ]
  },
  {
    "id": "dbdd4f89.2422b",
    "type": "inject",
    "name": "Test",
    "topic": "ns=2;s=0:IGSS Objects/(All)",
    "payload": "",
    "payloadType": "string",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 95,
    "y": 169,
    "z": "39bb936b.c6446c",
    "wires": [
      [
        "da070375.25f9"
      ]
    ]
  },
  {
    "id": "22f1b124.dd0e4e",
    "type": "debug",
    "name": "Browse",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 446,
    "y": 169,
    "z": "39bb936b.c6446c",
    "wires": []
  },
  {
    "id": "260b14a1.d9f4ec",
    "type": "OpcUaItem",
    "item": "ns=2;s=1:PST-007-Alarm-Level@Training?VALUE",
    "datatype": "double",
    "value": "",
    "name": "",
    "x": 398,
    "y": 283,
    "z": "39bb936b.c6446c",
    "wires": [
      [
        "645769f6.9ba898"
      ]
    ]
  },
  {
    "id": "645769f6.9ba898",
    "type": "OpcUaClient",
    "endpoint": "opc.tcp://trel13096286:12403/IGSS/IGSSOpcUaServer",
    "action": "read",
    "time": 10000,
    "name": "Read",
    "x": 670,
    "y": 320,
    "z": "39bb936b.c6446c",
    "wires": [
      [
        "f1d9e189.0e262"
      ]
    ]
  },
  {
    "id": "f1d9e189.0e262",
    "type": "debug",
    "name": "Read",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 790,
    "y": 320,
    "z": "39bb936b.c6446c",
    "wires": []
  },
  {
    "id": "5cd8ccf6.a32734",
    "type": "inject",
    "name": "Test read",
    "topic": "",
    "payload": "browse",
    "payloadType": "none",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 107,
    "y": 259,
    "z": "39bb936b.c6446c",
    "wires": [
      [
        "260b14a1.d9f4ec",
        "6e5c856a.91a37c",
        "cf097a14.30f688",
        "16c45bc1.e93ba4"
      ]
    ]
  },
  {
    "id": "3759f01f.c8a61",
    "type": "OpcUaItem",
    "item": "ns=2;s=1:PST-007-Alarm-Level@Training?SETPOINT",
    "datatype": "Double",
    "value": "",
    "name": "",
    "x": 406,
    "y": 447,
    "z": "39bb936b.c6446c",
    "wires": [
      [
        "fd98da51.026728"
      ]
    ]
  },
  {
    "id": "fd98da51.026728",
    "type": "OpcUaClient",
    "endpoint": "opc.tcp://trel13096286:12403/IGSS/IGSSOpcUaServer",
    "action": "write",
    "time": 10000,
    "name": "Write",
    "x": 677,
    "y": 446,
    "z": "39bb936b.c6446c",
    "wires": [
      [
        "96a85190.6957b"
      ]
    ]
  },
  {
    "id": "96a85190.6957b",
    "type": "debug",
    "name": "Write",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 808,
    "y": 447,
    "z": "39bb936b.c6446c",
    "wires": []
  },
  {
    "id": "f1f4ef37.0e0b1",
    "type": "OpcUaClient",
    "endpoint": "opc.tcp://trel13096286:12403/IGSS/IGSSOpcUaServer",
    "action": "subscribe",
    "time": "5000",
    "name": "Subscribe",
    "x": 668,
    "y": 223,
    "z": "39bb936b.c6446c",
    "wires": [
      [
        "d84a3b91.27b5c8"
      ]
    ]
  },
  {
    "id": "d84a3b91.27b5c8",
    "type": "debug",
    "name": "Subs",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 800,
    "y": 223,
    "z": "39bb936b.c6446c",
    "wires": []
  },
  {
    "id": "6e5c856a.91a37c",
    "type": "OpcUaItem",
    "item": "ns=2;s=1:PST-007-Alarm-Level@Training?HIGH_SCALE",
    "datatype": "double",
    "value": "",
    "name": "",
    "x": 379,
    "y": 318,
    "z": "39bb936b.c6446c",
    "wires": [
      [
        "645769f6.9ba898"
      ]
    ]
  },
  {
    "id": "cf097a14.30f688",
    "type": "OpcUaItem",
    "item": "ns=2;s=1:PST-007-Alarm-Level@Training?LOW_SCALE",
    "datatype": "double",
    "value": "",
    "name": "",
    "x": 380,
    "y": 352,
    "z": "39bb936b.c6446c",
    "wires": [
      [
        "645769f6.9ba898"
      ]
    ]
  },
  {
    "id": "bbd1a16a.442e6",
    "type": "OpcUaItem",
    "item": "ns=2;s=1:PST-007-Alarm-Level@Training?SETPOINT",
    "datatype": "double",
    "value": "4",
    "name": "",
    "x": 385,
    "y": 223,
    "z": "39bb936b.c6446c",
    "wires": [
      [
        "f1f4ef37.0e0b1"
      ]
    ]
  },
  {
    "id": "16fb4426.e904bc",
    "type": "inject",
    "name": "Test subs",
    "topic": "",
    "payload": "browse",
    "payloadType": "none",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 100,
    "y": 223,
    "z": "39bb936b.c6446c",
    "wires": [
      [
        "bbd1a16a.442e6"
      ]
    ]
  },
  {
    "id": "b586aea4.4a795",
    "type": "inject",
    "name": "Test write 2.5",
    "topic": "",
    "payload": " 2.5",
    "payloadType": "string",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 105,
    "y": 423,
    "z": "39bb936b.c6446c",
    "wires": [
      [
        "3759f01f.c8a61"
      ]
    ]
  },
  {
    "id": "a9e607b5.5619f8",
    "type": "inject",
    "name": "Test write 3.5",
    "topic": "",
    "payload": " 3.5",
    "payloadType": "string",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 102,
    "y": 463,
    "z": "39bb936b.c6446c",
    "wires": [
      [
        "3759f01f.c8a61"
      ]
    ]
  },
  {
    "id": "16c45bc1.e93ba4",
    "type": "OpcUaItem",
    "item": "ns=2;s=1:PST-007-Alarm-Level@Training?SETPOINT",
    "datatype": "double",
    "value": "4",
    "name": "",
    "x": 386,
    "y": 386,
    "z": "39bb936b.c6446c",
    "wires": [
      [
        "645769f6.9ba898"
      ]
    ]
  },
  {
    "id": "1b2ace46.e4d532",
    "type": "OpcUaClient",
    "endpoint": "opc.tcp://trel13096286:12403/IGSS/IGSSOpcUaServer",
    "action": "browse",
    "time": 10000,
    "name": "Browse",
    "x": 250,
    "y": 94,
    "z": "39bb936b.c6446c",
    "wires": [
      [
        "5e038a81.a1fc74"
      ]
    ]
  },
  {
    "id": "6cd93d98.9326c4",
    "type": "inject",
    "name": "Test",
    "topic": "ns=2;s=0:IGSS Objects/Area/Cases/Diagram/Boiler@Cases/Template",
    "payload": "",
    "payloadType": "string",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 96,
    "y": 92,
    "z": "39bb936b.c6446c",
    "wires": [
      [
        "1b2ace46.e4d532"
      ]
    ]
  },
  {
    "id": "22b737b4.dd48c8",
    "type": "debug",
    "name": "Browse",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 600,
    "y": 95,
    "z": "39bb936b.c6446c",
    "wires": []
  },
  {
    "id": "5e038a81.a1fc74",
    "type": "template",
    "name": "OpcUaItem",
    "field": "payload",
    "format": "handlebars",
    "template": "[{\"id\":\"4b12ca9b.e7e184\",\"type\":\"OpcUaItem\",\"item\":\"{{topic}}\",\"datatype\":\"opcua.DataType.Double\",\"value\":\"\",\"name\":\"{{browseName}}\",\"x\":251,\"y\":334,\"z\":\"30ffd2ee.59fdd6\",\"wires\":[[\"70dd1397.3c8e44\"]]}]",
    "x": 411,
    "y": 93,
    "z": "39bb936b.c6446c",
    "wires": [
      [
        "22b737b4.dd48c8"
      ]
    ]
  }
]