examples/METHOD.json
[{"id":"4d24eae5.3b9b24","type":"tab","label":"METHOD TESTS","disabled":false,"info":""},{"id":"cd011dd0.e86e","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://H7Q8Q13.mshome.net:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false},{"id":"9b199c7f.82f47","type":"OpcUa-Method","z":"4d24eae5.3b9b24","endpoint":"cd011dd0.e86e","objectId":"ns=5;s=MyDevice","methodId":"ns=5;s=MyMethod","name":"Prosys MyMethod(sin, 3.3)","inputArguments":[],"arg0name":"Operator","arg0type":"String","arg0value":"sin","arg1name":"Value","arg1type":"Double","arg1value":"3.3","arg2name":"","arg2type":"","arg2value":"","x":760,"y":120,"wires":[["aad9fc2a.a94b4"]]},{"id":"2337d4d6.fd29dc","type":"inject","z":"4d24eae5.3b9b24","name":"","topic":"Test1","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":120,"wires":[["9b199c7f.82f47"]]},{"id":"aad9fc2a.a94b4","type":"debug","z":"4d24eae5.3b9b24","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":120,"wires":[]},{"id":"892ea475.154008","type":"function","z":"4d24eae5.3b9b24","name":"pow","func":"msg.objectId=\"ns=5;s=MyDevice\";\nmsg.methodId=\"ns=5;s=MyMethod\";\nmsg.inputArguments=[{dataType: \"String\", value:\"pow\"}, {dataType:\"Double\", value: 3}];\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":180,"wires":[["9b199c7f.82f47"]]},{"id":"4d72774f.c4c9a8","type":"inject","z":"4d24eae5.3b9b24","name":"","topic":"Test2","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":180,"wires":[["892ea475.154008"]]},{"id":"b55d1c05.9588c","type":"comment","z":"4d24eae5.3b9b24","name":"Call method by node parameters","info":"","x":410,"y":80,"wires":[]},{"id":"80ce9863.0c99f8","type":"comment","z":"4d24eae5.3b9b24","name":"Call method by injecting message","info":"","x":410,"y":220,"wires":[]}]