examples/OPCUA-FILE.json
[{"id":"cc9eb060.bb1cc","type":"tab","label":"OPCUA-FILE","disabled":false,"info":"Read file: msg.topic contains file object nodeId.\n           msg.payload is buffer to file content.\n\nWrite file: msg.topic contains file object nodeId.\n            msg.payload is buffer to write.\n            OR\n            msg.fileName is fileName to write.\n            "},{"id":"823a6f11.f75ab","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://H7Q8Q13.VSTAGE.CO:62533/","secpol":"None","secmode":"None","login":false},{"id":"82ea0973.b4a6f8","type":"OpcUa-Client","z":"cc9eb060.bb1cc","endpoint":"823a6f11.f75ab","action":"readfile","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"Read file","x":660,"y":160,"wires":[["46740567.08d56c"]]},{"id":"11c3035e.d38a9d","type":"OpcUa-Client","z":"cc9eb060.bb1cc","endpoint":"823a6f11.f75ab","action":"writefile","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"Write file","x":660,"y":260,"wires":[["fa75a5d4.270ab8"]]},{"id":"cf6248b1.2b8e08","type":"inject","z":"cc9eb060.bb1cc","name":"test.txt","topic":"ns=1;s=DownloadFolder/test.txt","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":160,"wires":[["82ea0973.b4a6f8"]]},{"id":"ee95982.0c49568","type":"debug","z":"cc9eb060.bb1cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":160,"wires":[]},{"id":"46740567.08d56c","type":"function","z":"cc9eb060.bb1cc","name":"toString()","func":"msg.payload = msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":160,"wires":[["ee95982.0c49568"]]},{"id":"2250e9cf.2ac036","type":"file in","z":"cc9eb060.bb1cc","name":"test.txt","filename":"test.txt","format":"","chunk":false,"sendError":false,"encoding":"none","x":430,"y":260,"wires":[["11c3035e.d38a9d"]]},{"id":"fa75a5d4.270ab8","type":"debug","z":"cc9eb060.bb1cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":260,"wires":[]},{"id":"d7dc1e74.4f43a","type":"inject","z":"cc9eb060.bb1cc","name":"Upload file","topic":"ns=1;s=UploadFolder/test.txt","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":260,"wires":[["2250e9cf.2ac036"]]},{"id":"d2f04835.f3a458","type":"inject","z":"cc9eb060.bb1cc","name":"Upload msg to file","topic":"ns=1;s=UploadFolder/test.txt","payload":"Test message to server","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":450,"y":340,"wires":[["11c3035e.d38a9d"]]}]