examples/OPCUA-TEST-NODES.json
[{"id":"5d665294.f65f14","type":"tab","label":"Test Nodes"},{"id":"d7182ea9.e00808","type":"tab","label":"Test Types (read)"},{"id":"1e3cc08d.354f27","type":"tab","label":"Test Types (write)"},{"id":"f555c05.a35cec","type":"tab","label":"Reconnect"},{"id":"b4792f36.7b37e","type":"tab","label":"NodeRed UA-Server","disabled":false},{"id":"a0274cc0.46c5b","type":"tab","label":"Mustache","disabled":false,"info":""},{"id":"fe85ba5b.b23e08","type":"tab","label":"MULTIPLE READ/WRITE","disabled":false,"info":""},{"id":"731a2fa7.4f58f","type":"tab","label":"CLOUD","disabled":false,"info":""},{"id":"106e32c8.9ad53d","type":"tab","label":"Methods","disabled":false,"info":""},{"id":"bb039652.dcf5a8","type":"OpcUa-Endpoint","endpoint":"opc.tcp://H7Q8Q13.vstage.co:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false},{"id":"83439742.083188","type":"OpcUa-Endpoint","endpoint":"opc.tcp://0.0.0.0:4840/","secpol":"None","secmode":"None","login":false},{"id":"440c46c6.769ab8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"b59ed3ae.9ea3","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"85144921.8931b8","type":"ui_group","name":"OPCUA","tab":"440c46c6.769ab8","order":1,"disp":true,"width":"6","collapse":false},{"id":"58241fb2.5e084","type":"OpcUa-Endpoint","endpoint":"opc.tcp://localhost:53881/","secpol":"None","secmode":"None","login":false},{"id":"2a25d3ea.021ccc","type":"OpcUa-Endpoint","endpoint":"opc.tcp://opcuademo.sterfive.com:26543","secpol":"None","secmode":"None","login":false},{"id":"2f77a560.9a2122","type":"OpcUa-Client","z":"5d665294.f65f14","endpoint":"bb039652.dcf5a8","action":"read","deadbandvalue":"","time":10,"timeUnit":"s","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"ProSys NONE","x":920,"y":60,"wires":[["d73a7c78.5d6a8"]]},{"id":"686d6889.fc866","type":"OpcUa-Item","z":"5d665294.f65f14","item":"ns=5;s=Double","datatype":"Double","value":"","name":"Static Double","x":570,"y":60,"wires":[["2f77a560.9a2122"]]},{"id":"d73a7c78.5d6a8","type":"debug","z":"5d665294.f65f14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1470,"y":60,"wires":[]},{"id":"1aab2492.15ae8b","type":"inject","z":"5d665294.f65f14","name":"Test Double","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"str","x":250,"y":60,"wires":[["686d6889.fc866"]]},{"id":"80b93d24.8ab3e","type":"OpcUa-Item","z":"5d665294.f65f14","item":"ns=3;i=1001","datatype":"Int32","value":"","name":"Static Double","x":470,"y":140,"wires":[["cce90a4739ee9e28"]]},{"id":"1e784905.9b2917","type":"inject","z":"5d665294.f65f14","name":"Subscribe Counter","repeat":"","crontab":"","once":false,"onceDelay":"0.5","topic":"ns=3;i=1001","payload":"{ \"action\": \"subscribe\"}","payloadType":"json","x":250,"y":140,"wires":[["80b93d24.8ab3e"]]},{"id":"ed3d19b.dec8fe8","type":"comment","z":"5d665294.f65f14","name":"READ","info":"","x":55,"y":97.80000305175781,"wires":[]},{"id":"701ea54b.9b3004","type":"OpcUa-Client","z":"5d665294.f65f14","endpoint":"bb039652.dcf5a8","action":"subscribe","deadbandvalue":"","time":"1","timeUnit":"s","localfile":"","securitymode":"None","securitypolicy":"None","name":"ProSys NONE","x":920,"y":140,"wires":[["d73a7c78.5d6a8","d269ff67.f592f","20356f3a.7693e","e8d8f0dd.d7cec"]]},{"id":"96271f60.7cd7e","type":"comment","z":"5d665294.f65f14","name":"SUBS","info":"","x":50,"y":140,"wires":[]},{"id":"cb7d1c2a.8b51e8","type":"comment","z":"5d665294.f65f14","name":"UNSUBS","info":"Here is some kind of bug.","x":72,"y":216.1999969482422,"wires":[]},{"id":"2d575794.38904","type":"OpcUa-Browser","z":"5d665294.f65f14","endpoint":"bb039652.dcf5a8","item":"","datatype":"","topic":"ns=5;s=DataItems","items":[],"name":"Browse TEST","x":642.5,"y":317,"wires":[["b1337841.81e3a8"]]},{"id":"7ebabc51.3ca214","type":"inject","z":"5d665294.f65f14","name":"Test Browse","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"str","x":220.1999969482422,"y":319.20001220703125,"wires":[["2d575794.38904"]]},{"id":"b1337841.81e3a8","type":"debug","z":"5d665294.f65f14","name":"","active":true,"console":"false","complete":"false","x":867.2000122070312,"y":318.20001220703125,"wires":[]},{"id":"d72f52a6.35fa3","type":"OpcUa-Event","z":"5d665294.f65f14","root":"ns=0;i=2253","eventtype":"i=2041","name":"Events","x":570,"y":480,"wires":[["ae628046.ca67c"]]},{"id":"96c3ea4c.7897e8","type":"inject","z":"5d665294.f65f14","name":"Test Events","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"str","x":370,"y":480,"wires":[["d72f52a6.35fa3"]]},{"id":"19b8714f.7fe377","type":"OpcUa-Client","z":"5d665294.f65f14","endpoint":"bb039652.dcf5a8","action":"write","deadbandvalue":"","time":10,"timeUnit":"s","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"WRITE","x":640,"y":640,"wires":[["3225dbe.1fa1c24"]]},{"id":"470d3fde.815968","type":"OpcUa-Item","z":"5d665294.f65f14","item":"ns=5;s=DoubleDataItem","datatype":"Double","value":"","name":"Static Double","x":462,"y":642.4000091552734,"wires":[["19b8714f.7fe377"]]},{"id":"3225dbe.1fa1c24","type":"debug","z":"5d665294.f65f14","name":"","active":true,"console":"false","complete":"false","x":899.9999847412109,"y":638.8000030517578,"wires":[]},{"id":"cc48a416.6bc29","type":"inject","z":"5d665294.f65f14","name":"Test Double","repeat":"","crontab":"","once":false,"topic":"","payload":"11.1","payloadType":"num","x":263.99998474121094,"y":642.6000061035156,"wires":[["470d3fde.815968"]]},{"id":"e9033cbe.b8305","type":"comment","z":"5d665294.f65f14","name":"WRITE","info":"","x":80.5,"y":644.4000091552734,"wires":[]},{"id":"38559f2f.a08b48","type":"OpcUa-Client","z":"5d665294.f65f14","endpoint":"bb039652.dcf5a8","action":"info","deadbandvalue":"","time":10,"timeUnit":"s","localfile":"","localkeyfile":"","name":"INFO","x":685.2999725341797,"y":696.9999847412109,"wires":[["ad1d01dd.4581"]]},{"id":"2d7f1188.94d98e","type":"OpcUa-Item","z":"5d665294.f65f14","item":"ns=3;i=1001","datatype":"Int32","value":"","name":"\"OPC\".\"COUNTER\"","x":465.2999725341797,"y":696.9999847412109,"wires":[["38559f2f.a08b48"]]},{"id":"ad1d01dd.4581","type":"debug","z":"5d665294.f65f14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":885.2999725341797,"y":696.9999847412109,"wires":[]},{"id":"c368999e.5f0fc","type":"inject","z":"5d665294.f65f14","name":"Test INFO action","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":275.2999725341797,"y":696.9999847412109,"wires":[["2d7f1188.94d98e"]]},{"id":"25fa89e6.343aee","type":"comment","z":"5d665294.f65f14","name":"INFO","info":"","x":75.5,"y":695.1999969482422,"wires":[]},{"id":"4679c812.387638","type":"inject","z":"5d665294.f65f14","name":"Delete subscription","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"currentSession","payload":"{\"action\": \"deletesubscription\"}","payloadType":"json","x":590,"y":280,"wires":[["701ea54b.9b3004"]]},{"id":"67d3d463.314fec","type":"comment","z":"5d665294.f65f14","name":"Delete subscription","info":"","x":93.80000305175781,"y":277.8000030517578,"wires":[]},{"id":"ec68b47c.90ae68","type":"inject","z":"5d665294.f65f14","name":"Unsubscribe Counter","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"ns=3;i=1001","payload":"{ \"action\": \"unsubscribe\"}","payloadType":"json","x":320,"y":220,"wires":[["701ea54b.9b3004"]]},{"id":"79dfc808.ff4318","type":"inject","z":"5d665294.f65f14","name":"Subscribe Random","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"ns=3;i=1002","payload":"{ \"action\": \"subscribe\"}","payloadType":"json","x":270,"y":180,"wires":[["701ea54b.9b3004"]]},{"id":"1c7ea4a6.f2cbab","type":"comment","z":"5d665294.f65f14","name":"RE-SUBS","info":"Re-subscribe nodeId by topic","x":60,"y":180,"wires":[]},{"id":"1ebd78cf.89aff7","type":"status","z":"5d665294.f65f14","name":"","scope":["7ebabc51.3ca214"],"x":1100,"y":320,"wires":[["a358dc6a.12275"]]},{"id":"a358dc6a.12275","type":"debug","z":"5d665294.f65f14","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":1270,"y":320,"wires":[]},{"id":"b952e369.73721","type":"inject","z":"5d665294.f65f14","name":"Unsubscribe Random","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"ns=3;i=1002","payload":"{ \"action\": \"unsubscribe\"}","payloadType":"json","x":320,"y":260,"wires":[["701ea54b.9b3004"]]},{"id":"75f7c88b.c980a8","type":"inject","z":"5d665294.f65f14","name":"Browse: ns=6;s=StaticVariables","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"ns=5;s=StaticVariables","payload":"","payloadType":"str","x":170,"y":420,"wires":[["7a338151.2faa8"]]},{"id":"659e38b6.8c4ef8","type":"debug","z":"5d665294.f65f14","name":"BROWSE","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1280,"y":380,"wires":[]},{"id":"7a338151.2faa8","type":"OpcUa-Client","z":"5d665294.f65f14","endpoint":"bb039652.dcf5a8","action":"browse","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"Client: action BROWSE","x":670,"y":380,"wires":[["659e38b6.8c4ef8","a21f278b.0f23e8"]]},{"id":"5b533d3a.c571e4","type":"OpcUa-Item","z":"5d665294.f65f14","item":"ns=3;s=Counter","datatype":"Int32","value":"","name":"Counter","x":455.2999725341797,"y":856.9999847412109,"wires":[["ffd5274c.1fce18"]]},{"id":"289e740.e5e1b8c","type":"inject","z":"5d665294.f65f14","name":"Monitor Counter","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{ \"action\": \"subscribe\"}","payloadType":"str","x":235.2999725341797,"y":856.9999847412109,"wires":[["5b533d3a.c571e4"]]},{"id":"ffd5274c.1fce18","type":"OpcUa-Client","z":"5d665294.f65f14","endpoint":"bb039652.dcf5a8","action":"monitor","deadbandtype":"a","deadbandvalue":"5","time":"1","timeUnit":"s","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"ProSys NONE","x":664.2999725341797,"y":856.9999847412109,"wires":[["493f84ac.a28e2c"]]},{"id":"493f84ac.a28e2c","type":"debug","z":"5d665294.f65f14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":865.2999725341797,"y":856.9999847412109,"wires":[]},{"id":"ea3b9cc6.f2aaf","type":"inject","z":"5d665294.f65f14","name":"Browse ALL objects: ns=0;i=85","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"ns=0;i=85","payload":"","payloadType":"str","x":170,"y":380,"wires":[["74cf7bc7.1f78f4"]]},{"id":"d269ff67.f592f","type":"ui_numeric","z":"5d665294.f65f14","name":"","label":"numeric","tooltip":"","group":"85144921.8931b8","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":1500,"y":160,"wires":[[]]},{"id":"20356f3a.7693e","type":"ui_gauge","z":"5d665294.f65f14","name":"","group":"85144921.8931b8","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1500,"y":220,"wires":[]},{"id":"e8d8f0dd.d7cec","type":"ui_chart","z":"5d665294.f65f14","name":"","group":"85144921.8931b8","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1500,"y":120,"wires":[[]]},{"id":"a20be8e9.d67c08","type":"inject","z":"5d665294.f65f14","name":"Browse: Simulation","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"ns=3;s=85/0:Simulation","payload":"","payloadType":"str","x":130,"y":460,"wires":[["7a338151.2faa8"]]},{"id":"63715e56.c72b7","type":"OpcUa-Item","z":"5d665294.f65f14","item":"ns=5;s=MyDevice","datatype":"Byte","value":"","name":"MyDevice (object)","x":465.2999725341797,"y":736.9999847412109,"wires":[["38559f2f.a08b48"]]},{"id":"1fc523ed.84dd4c","type":"inject","z":"5d665294.f65f14","name":"Test INFO action","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":255.2999725341797,"y":736.9999847412109,"wires":[["63715e56.c72b7"]]},{"id":"134d0dce.a79da2","type":"OpcUa-Item","z":"5d665294.f65f14","item":"ns=5;s=MyObjectsFolder","datatype":"Byte","value":"","name":"MyObjectsFolder (folder)","x":485.2999725341797,"y":776.9999847412109,"wires":[["38559f2f.a08b48"]]},{"id":"2bf2de19.8b3d02","type":"inject","z":"5d665294.f65f14","name":"Test INFO action","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":255.2999725341797,"y":776.9999847412109,"wires":[["134d0dce.a79da2"]]},{"id":"74cf7bc7.1f78f4","type":"function","z":"5d665294.f65f14","name":"Collect","func":"msg.collect = true;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":380,"wires":[["7a338151.2faa8"]]},{"id":"a21f278b.0f23e8","type":"function","z":"5d665294.f65f14","name":"Filter ns=3","func":"// Return only if datatype exists in topic\n// Known and can be used with conversion\nif (msg.topic && \n    msg.topic.indexOf(\"ns=3\")>=0 &&\n    msg.datatype && msg.datatype.length>0\n    ) {\n    return msg;\n}","outputs":1,"noerr":0,"x":950,"y":420,"wires":[["589d63a.885339c","1c106793.d4a378","b0f95ed.4c3a8a"]]},{"id":"589d63a.885339c","type":"OpcUa-Client","z":"5d665294.f65f14","endpoint":"bb039652.dcf5a8","action":"read","deadbandvalue":"","time":10,"timeUnit":"s","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"READ","x":1150,"y":460,"wires":[["6347d8e5.12aa58"]]},{"id":"6347d8e5.12aa58","type":"debug","z":"5d665294.f65f14","name":"Value","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1270,"y":460,"wires":[]},{"id":"1c106793.d4a378","type":"debug","z":"5d665294.f65f14","name":"FILTER (ns=3)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1300,"y":420,"wires":[]},{"id":"b0f95ed.4c3a8a","type":"OpcUa-Client","z":"5d665294.f65f14","endpoint":"bb039652.dcf5a8","action":"info","deadbandvalue":"","time":10,"timeUnit":"s","localfile":"","localkeyfile":"","name":"INFO","x":1150,"y":520,"wires":[["c3a1c17e.c57f3"]]},{"id":"c3a1c17e.c57f3","type":"debug","z":"5d665294.f65f14","name":"INFO","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1270,"y":520,"wires":[]},{"id":"ae628046.ca67c","type":"OpcUa-Client","z":"5d665294.f65f14","endpoint":"bb039652.dcf5a8","action":"events","deadbandvalue":"","time":10,"timeUnit":"s","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"A & C","x":730,"y":480,"wires":[["67203130.a7a05"]]},{"id":"af39662a.1fd078","type":"OpcUa-Client","z":"5d665294.f65f14","endpoint":"bb039652.dcf5a8","action":"acknowledge","deadbandtype":"a","deadbandvalue":"5","time":"1","timeUnit":"s","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"ProSys NONE","x":1060,"y":580,"wires":[[]]},{"id":"67203130.a7a05","type":"debug","z":"5d665294.f65f14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":480,"wires":[]},{"id":"99a5c133.d9bdb","type":"inject","z":"5d665294.f65f14","name":"Test Events","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"str","x":370,"y":580,"wires":[["cf182b3.04017d8"]]},{"id":"cf182b3.04017d8","type":"function","z":"5d665294.f65f14","name":"AlarmID and EventID","func":"var msg;\nmsg.topic = \"ns=6;s=MyLevel.Alarm\";\nmsg.conditionId = \"ns=6;s=MyLevel.Alarm/0:EventId\";\nmsg.comment = \"Node-RED OPCUA Ack\";\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":580,"wires":[["af39662a.1fd078"]]},{"id":"cce90a4739ee9e28","type":"function","z":"5d665294.f65f14","name":"interval","func":"msg.interval=2000;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":120,"wires":[["701ea54b.9b3004"]]},{"id":"c8892da5.49071","type":"OpcUa-Item","z":"d7182ea9.e00808","item":"ns=5;s=Int16","datatype":"Int16","value":"","name":"Int16","x":317.20001220703125,"y":129.60000610351562,"wires":[["c115fba.b100988"]]},{"id":"934bc3eb.645808","type":"inject","z":"d7182ea9.e00808","name":"Test","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"str","x":119.19999694824219,"y":129.8000030517578,"wires":[["c8892da5.49071"]]},{"id":"885583d4.26723","type":"OpcUa-Item","z":"d7182ea9.e00808","item":"ns=5;s=Int32","datatype":"Int32","value":"","name":"Int32","x":317.20001220703125,"y":178.60000610351562,"wires":[["c115fba.b100988"]]},{"id":"5bd3b1cb.dcc2","type":"inject","z":"d7182ea9.e00808","name":"Test","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"str","x":119.19999694824219,"y":178.8000030517578,"wires":[["885583d4.26723"]]},{"id":"cc0d434b.bece08","type":"OpcUa-Item","z":"d7182ea9.e00808","item":"ns=5;s=UInt16","datatype":"UInt16","value":"","name":"UInt16","x":315.20001220703125,"y":272.6000213623047,"wires":[["c115fba.b100988"]]},{"id":"6f9c2c2f.943d7c","type":"inject","z":"d7182ea9.e00808","name":"Test","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"str","x":117.19999694824219,"y":272.8000183105469,"wires":[["cc0d434b.bece08"]]},{"id":"f993cab5.9c46e8","type":"OpcUa-Item","z":"d7182ea9.e00808","item":"ns=5;s=UInt32","datatype":"UInt32","value":"","name":"UInt32","x":315.20001220703125,"y":317.6000213623047,"wires":[["c115fba.b100988"]]},{"id":"7f681456.a66e3c","type":"inject","z":"d7182ea9.e00808","name":"Test","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"str","x":117.19999694824219,"y":317.8000183105469,"wires":[["f993cab5.9c46e8"]]},{"id":"3e4df471.92dafc","type":"OpcUa-Item","z":"d7182ea9.e00808","item":"ns=5;s=Byte","datatype":"Byte","value":"","name":"Byte","x":315.2000274658203,"y":227.59999084472656,"wires":[["c115fba.b100988"]]},{"id":"51e1b6.4260ae4c","type":"inject","z":"d7182ea9.e00808","name":"Test","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"str","x":117.20001220703125,"y":227.79998779296875,"wires":[["3e4df471.92dafc"]]},{"id":"17203c52.bf3dd4","type":"OpcUa-Item","z":"d7182ea9.e00808","item":"ns=5;s=Float","datatype":"Float","value":"","name":"Float","x":319.00001525878906,"y":413.6000213623047,"wires":[["c115fba.b100988"]]},{"id":"fee92faf.37b138","type":"inject","z":"d7182ea9.e00808","name":"Test","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"str","x":121,"y":413.8000183105469,"wires":[["17203c52.bf3dd4"]]},{"id":"58c6c0f1.9b72b8","type":"OpcUa-Item","z":"d7182ea9.e00808","item":"ns=5;s=Double","datatype":"Double","value":"","name":"Double","x":327.00001525878906,"y":456.6000213623047,"wires":[["c115fba.b100988"]]},{"id":"6d3e0c21.b6bf64","type":"inject","z":"d7182ea9.e00808","name":"Test","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"str","x":119,"y":456.8000183105469,"wires":[["58c6c0f1.9b72b8"]]},{"id":"c174a199.7950a8","type":"OpcUa-Item","z":"d7182ea9.e00808","item":"ns=5;s=Boolean","datatype":"Boolean","value":"","name":"Boolean","x":323.20001220703125,"y":503.6000213623047,"wires":[["c115fba.b100988"]]},{"id":"921028ed.7c009","type":"inject","z":"d7182ea9.e00808","name":"Test","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"str","x":115.19999694824219,"y":503.8000183105469,"wires":[["c174a199.7950a8"]]},{"id":"a585eeb7.3f5c6","type":"OpcUa-Item","z":"d7182ea9.e00808","item":"ns=5;s=String","datatype":"String","value":"","name":"String","x":311.20001220703125,"y":550.6000213623047,"wires":[["c115fba.b100988"]]},{"id":"9bbeaa79.980878","type":"inject","z":"d7182ea9.e00808","name":"Test","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"str","x":113.19999694824219,"y":550.8000183105469,"wires":[["a585eeb7.3f5c6"]]},{"id":"c115fba.b100988","type":"OpcUa-Client","z":"d7182ea9.e00808","endpoint":"bb039652.dcf5a8","action":"read","deadbandvalue":"","time":10,"timeUnit":"s","localfile":"","securitymode":"None","securitypolicy":"None","name":"ProSys NONE","x":700,"y":320,"wires":[["7f7bcf.5a1d343"]]},{"id":"2ee23b61.245d64","type":"OpcUa-Item","z":"d7182ea9.e00808","item":"ns=5;s=SByte","datatype":"SByte","value":"","name":"SByte","x":316.00001525878906,"y":76.60000610351562,"wires":[["c115fba.b100988"]]},{"id":"7f7bcf.5a1d343","type":"debug","z":"d7182ea9.e00808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":320,"wires":[]},{"id":"1e880c10.bae42c","type":"inject","z":"d7182ea9.e00808","name":"Test","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"str","x":118,"y":76.80000305175781,"wires":[["2ee23b61.245d64"]]},{"id":"f92008a2.f60398","type":"comment","z":"d7182ea9.e00808","name":"NOTE: int8==sbyte and uint8==byte","info":"","x":245.49998474121094,"y":32.80000305175781,"wires":[]},{"id":"24f92b51.1b8914","type":"OpcUa-Item","z":"d7182ea9.e00808","item":"ns=5;s=DateTime","datatype":"DateTime","value":"","name":"DateTime","x":320,"y":660,"wires":[["c115fba.b100988"]]},{"id":"b1d99565.e36018","type":"inject","z":"d7182ea9.e00808","name":"Test","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"str","x":111.99998474121094,"y":660.1999969482422,"wires":[["24f92b51.1b8914"]]},{"id":"77b20646.9dae28","type":"OpcUa-Item","z":"d7182ea9.e00808","item":"ns=5;s=LocalizedText","datatype":"LocalizedText","value":"","name":"LocalizedText","x":340,"y":600,"wires":[["c115fba.b100988"]]},{"id":"d4704ad.c525eb8","type":"inject","z":"d7182ea9.e00808","name":"Test","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"str","x":111.99998474121094,"y":600.1999969482422,"wires":[["77b20646.9dae28"]]},{"id":"2c381d01.ee9b92","type":"OpcUa-Item","z":"d7182ea9.e00808","item":"ns=5;s=ByteArray","datatype":"UInt8 Array","value":"","name":"ByteArray","x":860,"y":80,"wires":[["c115fba.b100988"]]},{"id":"2500d1c7.5026ce","type":"inject","z":"d7182ea9.e00808","name":"Test","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"str","x":651.9999847412109,"y":80.19999694824219,"wires":[["2c381d01.ee9b92"]]},{"id":"faba6ab7.8d0fe8","type":"OpcUa-Item","z":"d7182ea9.e00808","item":"ns=5;s=Int64","datatype":"Int64","value":"","name":"Int64","x":310,"y":360,"wires":[["c115fba.b100988"]]},{"id":"c6e6a624.857e48","type":"inject","z":"d7182ea9.e00808","name":"Test","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"str","x":111.99998474121094,"y":360.1999969482422,"wires":[["faba6ab7.8d0fe8"]]},{"id":"63d321dd.be1c98","type":"OpcUa-Item","z":"1e3cc08d.354f27","item":"ns=5;s=Int16","datatype":"Int16","value":"-16","name":"Int16","x":317.20001220703125,"y":132,"wires":[["8044bcb1.5f77c8"]]},{"id":"aa41e0a4.253af","type":"inject","z":"1e3cc08d.354f27","name":"Test","repeat":"","crontab":"","once":false,"topic":"","payload":"-16","payloadType":"str","x":119.19999694824219,"y":132.1999969482422,"wires":[["63d321dd.be1c98"]]},{"id":"505a236.3d47b5c","type":"OpcUa-Item","z":"1e3cc08d.354f27","item":"ns=5;s=Int32","datatype":"Int32","value":"-32","name":"Int32","x":317.20001220703125,"y":181,"wires":[["8044bcb1.5f77c8"]]},{"id":"bdf937e4.564b","type":"inject","z":"1e3cc08d.354f27","name":"Test","repeat":"","crontab":"","once":false,"topic":"","payload":"-32","payloadType":"str","x":119.19999694824219,"y":181.1999969482422,"wires":[["505a236.3d47b5c"]]},{"id":"53c2af1d.d7a8b","type":"OpcUa-Item","z":"1e3cc08d.354f27","item":"ns=5;s=UInt16","datatype":"UInt16","value":"16","name":"UInt16","x":315.20001220703125,"y":275.00001525878906,"wires":[["8044bcb1.5f77c8"]]},{"id":"81dc85bc.8a6d38","type":"inject","z":"1e3cc08d.354f27","name":"Test","repeat":"","crontab":"","once":false,"topic":"","payload":"16","payloadType":"str","x":117.19999694824219,"y":275.20001220703125,"wires":[["53c2af1d.d7a8b"]]},{"id":"54d7e2f3.85fc64","type":"OpcUa-Item","z":"1e3cc08d.354f27","item":"ns=5;s=UInt32","datatype":"UInt32","value":"32","name":"UInt32","x":315.20001220703125,"y":320.00001525878906,"wires":[["8044bcb1.5f77c8"]]},{"id":"136da5e8.f49c32","type":"inject","z":"1e3cc08d.354f27","name":"Test","repeat":"","crontab":"","once":false,"topic":"","payload":"32","payloadType":"str","x":117.19999694824219,"y":320.20001220703125,"wires":[["54d7e2f3.85fc64"]]},{"id":"963adb5f.6ca3b","type":"OpcUa-Item","z":"1e3cc08d.354f27","item":"ns=5;s=Byte","datatype":"Byte","value":"8","name":"Byte","x":315.2000274658203,"y":229.99998474121094,"wires":[["8044bcb1.5f77c8"]]},{"id":"82bae59e.a45de8","type":"inject","z":"1e3cc08d.354f27","name":"Test","repeat":"","crontab":"","once":false,"topic":"","payload":"8","payloadType":"str","x":117.20001220703125,"y":230.19998168945312,"wires":[["963adb5f.6ca3b"]]},{"id":"15eb1115.6e3847","type":"OpcUa-Item","z":"1e3cc08d.354f27","item":"ns=5;s=Float","datatype":"Float","value":"11.22","name":"Float","x":319.00001525878906,"y":416.00001525878906,"wires":[["8044bcb1.5f77c8"]]},{"id":"ce591d78.d9c158","type":"inject","z":"1e3cc08d.354f27","name":"Test","repeat":"","crontab":"","once":false,"topic":"","payload":"1.1","payloadType":"str","x":121,"y":416.20001220703125,"wires":[["15eb1115.6e3847"]]},{"id":"43773671.d900e8","type":"OpcUa-Item","z":"1e3cc08d.354f27","item":"ns=5;s=Double","datatype":"Double","value":"22.33","name":"Double","x":327.00001525878906,"y":459.00001525878906,"wires":[["8044bcb1.5f77c8"]]},{"id":"bd224bbc.e093d","type":"inject","z":"1e3cc08d.354f27","name":"Test","repeat":"","crontab":"","once":false,"topic":"","payload":"2.2","payloadType":"str","x":119,"y":459.20001220703125,"wires":[["43773671.d900e8"]]},{"id":"35b23823.1a4698","type":"OpcUa-Item","z":"1e3cc08d.354f27","item":"ns=5;s=Boolean","datatype":"Boolean","value":"true","name":"Boolean","x":323.20001220703125,"y":506.00001525878906,"wires":[["8044bcb1.5f77c8"]]},{"id":"5c30c181.faebf8","type":"inject","z":"1e3cc08d.354f27","name":"Test","repeat":"","crontab":"","once":false,"topic":"","payload":"1","payloadType":"str","x":115.19999694824219,"y":506.20001220703125,"wires":[["35b23823.1a4698"]]},{"id":"119e02e7.f42df5","type":"OpcUa-Item","z":"1e3cc08d.354f27","item":"ns=5;s=String","datatype":"String","value":"TEST","name":"String","x":311.20001220703125,"y":553.0000152587891,"wires":[["8044bcb1.5f77c8"]]},{"id":"d14af853.2bd4a","type":"inject","z":"1e3cc08d.354f27","name":"Test","repeat":"","crontab":"","once":false,"topic":"","payload":"Test","payloadType":"str","x":113.19999694824219,"y":553.2000122070312,"wires":[["119e02e7.f42df5"]]},{"id":"8044bcb1.5f77c8","type":"OpcUa-Client","z":"1e3cc08d.354f27","endpoint":"bb039652.dcf5a8","action":"write","deadbandvalue":"","time":10,"timeUnit":"s","localfile":"","securitymode":"SignAndEncrypt","securitypolicy":"Basic256","name":"ProSys NONE","x":1140,"y":640,"wires":[["862f9655.5276e8"]]},{"id":"84d545de.88b828","type":"OpcUa-Item","z":"1e3cc08d.354f27","item":"ns=5;s=SByte","datatype":"SByte","value":"-8","name":"SByte","x":316.00001525878906,"y":79,"wires":[["8044bcb1.5f77c8"]]},{"id":"f9cae631.0b875","type":"inject","z":"1e3cc08d.354f27","name":"Test","repeat":"","crontab":"","once":false,"topic":"","payload":"-8","payloadType":"str","x":118,"y":79.19999694824219,"wires":[["84d545de.88b828"]]},{"id":"a86527c.3ea5fd8","type":"comment","z":"1e3cc08d.354f27","name":"NOTE: int8==sbyte and uint8==byte","info":"","x":245.49998474121094,"y":35.19999694824219,"wires":[]},{"id":"aa2c65b6.2536a8","type":"OpcUa-Item","z":"1e3cc08d.354f27","item":"ns=5;s=DateTime","datatype":"DateTime","value":"","name":"DateTime","x":319.20001220703125,"y":595.2000122070312,"wires":[["8044bcb1.5f77c8"]]},{"id":"f0a3f3a7.95513","type":"inject","z":"1e3cc08d.354f27","name":"Test","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"2018-10-11T12:11:10.000Z","payloadType":"str","x":111.19999694824219,"y":595.4000091552734,"wires":[["aa2c65b6.2536a8"]]},{"id":"28390ec1.49a522","type":"OpcUa-Item","z":"1e3cc08d.354f27","item":"ns=5;s=ByteArray","datatype":"UInt8 Array","value":"5,4,3,2,1","name":"ByteArray (Uint8)","x":990,"y":80,"wires":[["c776e04a.aa1d4","8044bcb1.5f77c8"]]},{"id":"1f10a211.b36cfe","type":"inject","z":"1e3cc08d.354f27","name":"Init (empty payload)","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":550,"y":60,"wires":[["28390ec1.49a522"]]},{"id":"c776e04a.aa1d4","type":"debug","z":"1e3cc08d.354f27","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1250,"y":80,"wires":[]},{"id":"1fb29304.d9c02d","type":"OpcUa-Item","z":"1e3cc08d.354f27","item":"ns=5;s=BooleanArray","datatype":"Boolean Array","value":"true,true,false,false","name":"BooleanArray","x":980,"y":40,"wires":[["c776e04a.aa1d4","8044bcb1.5f77c8"]]},{"id":"7d67dbee.50f354","type":"OpcUa-Item","z":"1e3cc08d.354f27","item":"ns=5;s=UInt16Array","datatype":"UInt16 Array","value":"5,4,3,2,16","name":"UInt16Array","x":970,"y":120,"wires":[["8044bcb1.5f77c8"]]},{"id":"c56afdec.afce7","type":"OpcUa-Item","z":"1e3cc08d.354f27","item":"ns=5;s=UInt32Array","datatype":"UInt32 Array","value":"5,4,3,2,32","name":"UInt32Array","x":970,"y":160,"wires":[["8044bcb1.5f77c8"]]},{"id":"bb1255b9.6a8868","type":"OpcUa-Item","z":"1e3cc08d.354f27","item":"ns=5;s=SByteArray","datatype":"Int8 Array","value":"-5,-4,-3,-2,-1","name":"SByteArray (Iint8)","x":990,"y":200,"wires":[["8044bcb1.5f77c8"]]},{"id":"fc9c6fd8.3fa8f","type":"OpcUa-Item","z":"1e3cc08d.354f27","item":"ns=6;s=Int16Array","datatype":"Int16 Array","value":"-5,4,-3,-2,-16","name":"Int16Array","x":970,"y":240,"wires":[["8044bcb1.5f77c8"]]},{"id":"f8a861c2.8ba0c","type":"OpcUa-Item","z":"1e3cc08d.354f27","item":"ns=5;s=Int32Array","datatype":"Int32 Array","value":"-5,-4,-3,-2,-32","name":"Int32Array","x":970,"y":280,"wires":[["8044bcb1.5f77c8"]]},{"id":"8be79e9e.8223","type":"OpcUa-Item","z":"1e3cc08d.354f27","item":"ns=5;s=FloatArray","datatype":"Float Array","value":"-5.5,-4.4,-3.3,-2.2,-1.1","name":"FloatArray","x":970,"y":320,"wires":[["8044bcb1.5f77c8"]]},{"id":"4b7c801d.e656d","type":"OpcUa-Item","z":"1e3cc08d.354f27","item":"ns=5;s=DoubleArray","datatype":"Double Array","value":"-5.5,-4.4,-3.3,-2.2,-1.1","name":"DoubleArray","x":970,"y":360,"wires":[["8044bcb1.5f77c8"]]},{"id":"11ab8660.3ff63a","type":"inject","z":"1e3cc08d.354f27","name":"Test","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":750,"y":40,"wires":[["1fb29304.d9c02d"]]},{"id":"a9b94771.b98b78","type":"inject","z":"1e3cc08d.354f27","name":"Test","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":750,"y":120,"wires":[["7d67dbee.50f354"]]},{"id":"a8e28422.374fc8","type":"inject","z":"1e3cc08d.354f27","name":"Test","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":750,"y":160,"wires":[["c56afdec.afce7"]]},{"id":"311fa8f9.998f78","type":"inject","z":"1e3cc08d.354f27","name":"Test","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":750,"y":200,"wires":[["bb1255b9.6a8868"]]},{"id":"f9e5bc5a.ca608","type":"inject","z":"1e3cc08d.354f27","name":"Test","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":750,"y":240,"wires":[["fc9c6fd8.3fa8f"]]},{"id":"c55cb8a.5321048","type":"inject","z":"1e3cc08d.354f27","name":"Test","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":750,"y":280,"wires":[["f8a861c2.8ba0c"]]},{"id":"fe71ee17.85544","type":"inject","z":"1e3cc08d.354f27","name":"Test","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":750,"y":320,"wires":[["8be79e9e.8223"]]},{"id":"1cb495de.04de3a","type":"inject","z":"1e3cc08d.354f27","name":"Test","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":750,"y":360,"wires":[["4b7c801d.e656d"]]},{"id":"8ea2943c.679a68","type":"inject","z":"1e3cc08d.354f27","name":"Test (dyn. payload)","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"11,12,13,14,15","payloadType":"str","x":550,"y":100,"wires":[["28390ec1.49a522"]]},{"id":"9d0a6791.e43498","type":"OpcUa-Item","z":"1e3cc08d.354f27","item":"ns=5;s=StringArray","datatype":"String Array","value":"\"abc\", \"def\"","name":"StringArray","x":950,"y":400,"wires":[["8044bcb1.5f77c8"]]},{"id":"1b09c6d2.9f1bd9","type":"inject","z":"1e3cc08d.354f27","name":"Test","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":750,"y":400,"wires":[["9d0a6791.e43498"]]},{"id":"12a0c6d7.402119","type":"debug","z":"1e3cc08d.354f27","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1570,"y":640,"wires":[]},{"id":"862f9655.5276e8","type":"function","z":"1e3cc08d.354f27","name":"Get StatusCode value","func":"var status = msg.payload.toJSONFull();\nvar status2 = JSON.parse(JSON.stringify(status));\n\nnode.warn(\"Value:\" + status2.value);\nnode.warn(\"Name: \" + status2.name);\nnode.warn(\"Desc: \" + status2.description);\n\n// Return just statuscode value\nmsg.payload = status2.value;\n\nreturn msg;","outputs":1,"noerr":0,"x":1360,"y":640,"wires":[["12a0c6d7.402119"]]},{"id":"20460a4f.a39006","type":"OpcUa-Item","z":"1e3cc08d.354f27","item":"ns=5;s=AccessLevelCurrentRead","datatype":"Int32","value":"-32","name":"ReadOnly","x":880,"y":680,"wires":[["8044bcb1.5f77c8"]]},{"id":"7a0233c6.254dcc","type":"inject","z":"1e3cc08d.354f27","name":"Test","repeat":"","crontab":"","once":false,"topic":"","payload":"-32","payloadType":"str","x":671.9999847412109,"y":680.1999969482422,"wires":[["20460a4f.a39006"]]},{"id":"aba7124d.47226","type":"OpcUa-Item","z":"1e3cc08d.354f27","item":"ns=8;s=Doubles","datatype":"Double","value":"22.33","name":"Wrong NodeId","x":900,"y":740,"wires":[["8044bcb1.5f77c8"]]},{"id":"876d70a.3befa9","type":"inject","z":"1e3cc08d.354f27","name":"Test","repeat":"","crontab":"","once":false,"topic":"","payload":"2.2","payloadType":"str","x":671.9999847412109,"y":740.1999969482422,"wires":[["aba7124d.47226"]]},{"id":"6dc7f81e.bfaff8","type":"OpcUa-Client","z":"f555c05.a35cec","endpoint":"83439742.083188","action":"read","deadbandvalue":"","time":10,"timeUnit":"s","localfile":"","localkeyfile":"","name":"No client as init value","x":820,"y":140,"wires":[["5fd1a1b9.8ca57"]]},{"id":"5fd1a1b9.8ca57","type":"debug","z":"f555c05.a35cec","name":"","active":true,"console":"false","complete":"false","x":1070,"y":140,"wires":[]},{"id":"5e0698a5.fab678","type":"inject","z":"f555c05.a35cec","name":"ProSys","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":110,"y":100,"wires":[["19a957aa.4ef46"]]},{"id":"4285ebb4.5d47c4","type":"inject","z":"f555c05.a35cec","name":"Change to local Server","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":160,"y":200,"wires":[["a93afbff.01d608"]]},{"id":"19a957aa.4ef46","type":"function","z":"f555c05.a35cec","name":"ProSys endpoint","func":"msg.topic=\"Reconnect\";\nmsg.action=\"reconnect\";\nmsg.OpcUaEndpoint = {\n    credentials: {},\n    endpoint: 'opc.tcp://localhost:53530/OPCUA/SimulationServer',\n    securityPolicy: 'None',\n    securityMode: 'None',\n    login: false,\n    user: undefined,\n    password: undefined \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":100,"wires":[["6dc7f81e.bfaff8"]]},{"id":"a93afbff.01d608","type":"function","z":"f555c05.a35cec","name":"LocalServer endpoint","func":"msg.topic=\"Reconnect\";\nmsg.action=\"reconnect\";\nmsg.OpcUaEndpoint = {\n    credentials: {},\n    endpoint: 'opc.tcp://127.0.0.1:53881',\n    securityPolicy: 'None',\n    securityMode: 'None',\n    login: false,\n    user: undefined,\n    password: undefined \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":200,"wires":[["6dc7f81e.bfaff8"]]},{"id":"492d4ed6.841f38","type":"OpcUa-Item","z":"f555c05.a35cec","item":"ns=5;s=SByte","datatype":"SByte","value":"","name":"SByte","x":370,"y":140,"wires":[["6dc7f81e.bfaff8"]]},{"id":"a1c4ea0d.b1fff","type":"inject","z":"f555c05.a35cec","name":"Read","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":110,"y":140,"wires":[["492d4ed6.841f38"]]},{"id":"ee7e4b5d.1bf0b8","type":"OpcUa-Item","z":"f555c05.a35cec","item":"ns=0;i=2258","datatype":"DateTime","value":"","name":"CurrentTime","x":390,"y":280,"wires":[["6dc7f81e.bfaff8"]]},{"id":"6b8d3577.7c34e4","type":"inject","z":"f555c05.a35cec","name":"Read","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":110,"y":280,"wires":[["ee7e4b5d.1bf0b8"]]},{"id":"ce16a5d9.b2b6c8","type":"file in","z":"f555c05.a35cec","name":"","filename":"endpoint.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":280,"y":340,"wires":[["59e1249e.4bcf9c"]]},{"id":"59e1249e.4bcf9c","type":"json","z":"f555c05.a35cec","name":"","property":"payload","action":"str","pretty":true,"x":450,"y":340,"wires":[["b0a5a211.0881a"]]},{"id":"bc9ff0fd.1b318","type":"inject","z":"f555c05.a35cec","name":"Read","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":100,"y":340,"wires":[["ce16a5d9.b2b6c8"]]},{"id":"39724da8.114ce2","type":"debug","z":"f555c05.a35cec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":340,"wires":[]},{"id":"b0a5a211.0881a","type":"function","z":"f555c05.a35cec","name":"ProSys endpoint","func":"msg.topic=\"Reconnect\";\nmsg.action=\"reconnect\";\nconsole.log(msg.payload);\nmsg.OpcUaEndpoint = JSON.parse(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":340,"wires":[["39724da8.114ce2","6dc7f81e.bfaff8"]]},{"id":"ab08549b.86da7","type":"OpcUa-Server","z":"b4792f36.7b37e","port":"53881","name":"LocalServer","endpoint":"","users":"wrongUserfile.json","nodesetDir":"","folderName4PKI":"MYSERVER","autoAcceptUnknownCertificate":true,"registerToDiscovery":false,"constructDefaultAddressSpace":false,"allowAnonymous":true,"endpointNone":true,"endpointSign":true,"endpointSignEncrypt":true,"endpointBasic128Rsa15":false,"endpointBasic256":false,"endpointBasic256Sha256":false,"maxNodesPerBrowse":"","maxNodesPerHistoryReadData":"","maxNodesPerHistoryReadEvents":"","maxNodesPerHistoryUpdateData":"","maxNodesPerRead":"","maxNodesPerWrite":"","maxNodesPerMethodCall":"","maxNodesPerRegisterNodes":"","maxNodesPerNodeManagement":"","maxMonitoredItemsPerCall":"","maxNodesPerHistoryUpdateEvents":"","maxNodesPerTranslateBrowsePathsToNodeIds":"","x":830,"y":40,"wires":[["88d21f70.acd4"]]},{"id":"11d9fbf5.027ab4","type":"inject","z":"b4792f36.7b37e","name":"AddVariable","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=1;s=TestAddVariable1;datatype=Float","payload":"{\"opcuaCommand\":\"addVariable\"}","payloadType":"json","x":130,"y":180,"wires":[["ab08549b.86da7"]]},{"id":"a0cff67c.ed12d8","type":"inject","z":"b4792f36.7b37e","name":"AddVariable","props":[{"p":"payload","v":"{\"opcuaCommand\":\"addVariable\"}","vt":"json"},{"p":"topic","v":"ns=1;s=TestAddVariable2;datatype=Float","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=1;s=TestAddVariable2;datatype=Float","payload":"{\"opcuaCommand\":\"addVariable\"}","payloadType":"json","x":130,"y":260,"wires":[["ab08549b.86da7"]]},{"id":"c9d8f5da.7c4d48","type":"inject","z":"b4792f36.7b37e","name":"AddFolder","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=1;s=TestAddFolder","payload":"{\"opcuaCommand\":\"addFolder\"}","payloadType":"json","x":140,"y":220,"wires":[["ab08549b.86da7"]]},{"id":"7c267cc5.2bd7c4","type":"inject","z":"b4792f36.7b37e","name":"SetFolder","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=1;s=VendorName","payload":"{\"opcuaCommand\":\"setFolder\"}","payloadType":"json","x":140,"y":300,"wires":[["ab08549b.86da7"]]},{"id":"fc451b2b.c44f78","type":"inject","z":"b4792f36.7b37e","name":"ADD TestAddVariable3 with init value 2.3","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=1;s=TestAddVariable3;datatype=Float;value=2.3","payload":"{\"opcuaCommand\":\"addVariable\"}","payloadType":"json","x":220,"y":340,"wires":[["ab08549b.86da7"]]},{"id":"1a28d476.c9f36c","type":"inject","z":"b4792f36.7b37e","name":"InstallHistorian","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=1;s=TestAddVariable3;datatype=Float","payload":"{\"opcuaCommand\":\"installHistorian\"}","payloadType":"json","x":120,"y":380,"wires":[["ab08549b.86da7"]]},{"id":"88d21f70.acd4","type":"debug","z":"b4792f36.7b37e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1070,"y":40,"wires":[]},{"id":"36a889c.620e076","type":"inject","z":"b4792f36.7b37e","name":"AddVariable","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=1;s=TestVariableByte;datatype=Byte","payload":"{\"opcuaCommand\":\"addVariable\"}","payloadType":"json","x":130,"y":420,"wires":[["ab08549b.86da7"]]},{"id":"54ac244d.c4022c","type":"inject","z":"b4792f36.7b37e","name":"AddVariable","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=1;s=TestVariableByteString;datatype=ByteString","payload":"{\"opcuaCommand\":\"addVariable\"}","payloadType":"json","x":130,"y":460,"wires":[["ab08549b.86da7"]]},{"id":"20cb5789.eca088","type":"inject","z":"b4792f36.7b37e","name":"AddVariable FloatArray[200]","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=1;s=FloatArray;datatype=FloatArray[200]","payload":"{\"opcuaCommand\":\"addVariable\"}","payloadType":"json","x":420,"y":480,"wires":[["ab08549b.86da7"]]},{"id":"84892ab7.d9f758","type":"inject","z":"b4792f36.7b37e","name":"AddVariable SByteArray[512]","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=1;s=SByteArray;datatype=SByteArray[512]","payload":"{\"opcuaCommand\":\"addVariable\"}","payloadType":"json","x":400,"y":560,"wires":[["ab08549b.86da7"]]},{"id":"df937537.8cca38","type":"inject","z":"b4792f36.7b37e","name":"AddVariable BooleanArray[1024]","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=1;s=BooleanArray;datatype=BooleanArray[512]","payload":"{\"opcuaCommand\":\"addVariable\"}","payloadType":"json","x":410,"y":600,"wires":[["ab08549b.86da7"]]},{"id":"1422b81a.449af8","type":"inject","z":"b4792f36.7b37e","name":"AddVariable Int16Array[100]","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=1;s=Int16Array;datatype=Int16Array[100]","payload":"{\"opcuaCommand\":\"addVariable\"}","payloadType":"json","x":400,"y":640,"wires":[["ab08549b.86da7"]]},{"id":"975b2a98.08dae8","type":"inject","z":"b4792f36.7b37e","name":"AddVariable Int32Array[100]","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=1;s=Int32Array;datatype=Int32Array[100]","payload":"{\"opcuaCommand\":\"addVariable\"}","payloadType":"json","x":400,"y":680,"wires":[["ab08549b.86da7"]]},{"id":"347e3552.9b1f2a","type":"inject","z":"b4792f36.7b37e","name":"AddVariable DoubleArray[50]","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=1;s=DoubleArray;datatype=DoubleArray[50]","payload":"{\"opcuaCommand\":\"addVariable\"}","payloadType":"json","x":420,"y":440,"wires":[["ab08549b.86da7"]]},{"id":"23143438.ee01ac","type":"inject","z":"b4792f36.7b37e","name":"AddVariable UInt16Array[100]","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=1;s=UInt16Array;datatype=UInt16Array[100]","payload":"{\"opcuaCommand\":\"addVariable\"}","payloadType":"json","x":400,"y":720,"wires":[["ab08549b.86da7"]]},{"id":"26ef0b4c.870174","type":"inject","z":"b4792f36.7b37e","name":"AddVariable UInt32Array[100]","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=1;s=UInt32Array;datatype=UInt32Array[100]","payload":"{\"opcuaCommand\":\"addVariable\"}","payloadType":"json","x":400,"y":760,"wires":[["ab08549b.86da7"]]},{"id":"7dfb6130.bca9e","type":"inject","z":"b4792f36.7b37e","name":"AddVariable ByteArray[512]","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=1;s=ByteArray;datatype=ByteArray[512]","payload":"{\"opcuaCommand\":\"addVariable\"}","payloadType":"json","x":400,"y":520,"wires":[["ab08549b.86da7"]]},{"id":"69914787.ae4a28","type":"OpcUa-Client","z":"b4792f36.7b37e","endpoint":"58241fb2.5e084","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"Own Server Array indexRange Read","x":1130,"y":460,"wires":[["9175f025.dc46"]]},{"id":"4bbbc97c.d33668","type":"OpcUa-Item","z":"b4792f36.7b37e","item":"ns=1;s=FloatArray","datatype":"Float Array","value":"","name":"","x":900,"y":400,"wires":[["69914787.ae4a28","bf9cfe3f.ee08b"]]},{"id":"263644e5.7f47ec","type":"inject","z":"b4792f36.7b37e","name":"Read all","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":780,"y":300,"wires":[["4bbbc97c.d33668"]]},{"id":"9175f025.dc46","type":"debug","z":"b4792f36.7b37e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1370,"y":500,"wires":[]},{"id":"bf9cfe3f.ee08b","type":"debug","z":"b4792f36.7b37e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1140,"y":340,"wires":[]},{"id":"f059d378.e1cdd","type":"inject","z":"b4792f36.7b37e","name":"Read \"1:5\"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"range\":\"1:5\"}","payloadType":"json","x":760,"y":480,"wires":[["4bbbc97c.d33668"]]},{"id":"22b20cf9.bca0e4","type":"OpcUa-Client","z":"b4792f36.7b37e","endpoint":"58241fb2.5e084","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"Own Server Array indexRange Write","x":1210,"y":260,"wires":[["9175f025.dc46"]]},{"id":"4aa73b8d.0af2c4","type":"OpcUa-Item","z":"b4792f36.7b37e","item":"ns=1;s=FloatArray","datatype":"Float Array","value":"","name":"","x":1020,"y":160,"wires":[["22b20cf9.bca0e4"]]},{"id":"de230ce6.96f0e","type":"inject","z":"b4792f36.7b37e","name":"Write all","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"9,8,7,6,5,4,3,2,1,0","payloadType":"str","x":810,"y":160,"wires":[["4aa73b8d.0af2c4"]]},{"id":"5a06df9d.ab3e2","type":"inject","z":"b4792f36.7b37e","name":"Write \"2:4\"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":780,"y":220,"wires":[["6b7bc1a4.149fa"]]},{"id":"6b7bc1a4.149fa","type":"function","z":"b4792f36.7b37e","name":"Range \"2:4\"","func":"msg.range = \"2:4\";\nmsg.payload = \"2.3,2.3,2.4\";\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":220,"wires":[[]]},{"id":"ebb5cd89.dc8e7","type":"OpcUa-Client","z":"b4792f36.7b37e","endpoint":"bb039652.dcf5a8","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"ProSys Array indexRange Write","x":1190,"y":580,"wires":[["96f0885a.13ee58"]]},{"id":"681f1a53.107b54","type":"OpcUa-Item","z":"b4792f36.7b37e","item":"ns=5;s=FloatArray","datatype":"Float Array","value":"","name":"","x":940,"y":580,"wires":[["ebb5cd89.dc8e7"]]},{"id":"61bade68.b1a84","type":"inject","z":"b4792f36.7b37e","name":"Write \"2:4\"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":680,"y":640,"wires":[["a1d94dfb.fdeca"]]},{"id":"a1d94dfb.fdeca","type":"function","z":"b4792f36.7b37e","name":"Range \"2:4\"","func":"// New values for each index from 2 to 4\nmsg.payload = \"2.2,2.3,2.4\";\n\n// Array index from 2 to 4\nmsg.range = \"2:4\";\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":640,"wires":[["681f1a53.107b54"]]},{"id":"96f0885a.13ee58","type":"debug","z":"b4792f36.7b37e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1450,"y":580,"wires":[]},{"id":"93cc5357.5be97","type":"OpcUa-Client","z":"b4792f36.7b37e","endpoint":"bb039652.dcf5a8","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"ProSys Array Read","x":1150,"y":660,"wires":[["96f0885a.13ee58"]]},{"id":"fc5c322e.de461","type":"OpcUa-Item","z":"b4792f36.7b37e","item":"ns=5;s=FloatArray","datatype":"Float Array","value":"","name":"","x":940,"y":680,"wires":[["93cc5357.5be97"]]},{"id":"d3d9dc2e.560a9","type":"inject","z":"b4792f36.7b37e","name":"Read all","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":680,"y":680,"wires":[["fc5c322e.de461"]]},{"id":"a03ca86a.a18478","type":"inject","z":"b4792f36.7b37e","name":"AddVariable FloatArray2D[5,5]","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=1;s=FloatArray2D;datatype=FloatArray[5,5]","payload":"{\"opcuaCommand\":\"addVariable\"}","payloadType":"json","x":300,"y":60,"wires":[["ab08549b.86da7"]]},{"id":"b70dce28.690e9","type":"inject","z":"b4792f36.7b37e","name":"AddVariable FloatArray3D[5,5,5]","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=1;s=FloatArray3D;datatype=FloatArray[5,5,5]","payload":"{\"opcuaCommand\":\"addVariable\"}","payloadType":"json","x":290,"y":100,"wires":[["ab08549b.86da7"]]},{"id":"df493cfe.595bd","type":"inject","z":"b4792f36.7b37e","name":"AddVariable FloatArray2D[5,5]","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=1;s=FloatArray1D;datatype=FloatArray[5]","payload":"{\"opcuaCommand\":\"addVariable\"}","payloadType":"json","x":300,"y":20,"wires":[["ab08549b.86da7"]]},{"id":"c49012bc.9fabc","type":"inject","z":"b4792f36.7b37e","name":"Write all","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1,2,3,4,5","payloadType":"str","x":730,"y":580,"wires":[["681f1a53.107b54"]]},{"id":"ebabaff4.59a94","type":"inject","z":"b4792f36.7b37e","name":"AddVariable","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=1;s=TestVariableDateTime;datatype=DateTime","payload":"{\"opcuaCommand\":\"addVariable\"}","payloadType":"json","x":130,"y":500,"wires":[["ab08549b.86da7"]]},{"id":"fabdb4cf.b807e8","type":"OpcUa-Item","z":"b4792f36.7b37e","item":"ns=5;s=Int16Array","datatype":"Int16 Array","value":"","name":"Read Int16 array values from Prosys","x":1010,"y":740,"wires":[["93cc5357.5be97"]]},{"id":"723e05fa.45c5dc","type":"inject","z":"b4792f36.7b37e","name":"Read all","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":680,"y":740,"wires":[["fabdb4cf.b807e8"]]},{"id":"6d396647.df2e98","type":"inject","z":"b4792f36.7b37e","name":"AddFolder","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=5;s=TestAddFolder","payload":"{\"opcuaCommand\":\"addFolder\"}","payloadType":"json","x":100,"y":600,"wires":[["ab08549b.86da7"]]},{"id":"7635b266.fa1c8c","type":"inject","z":"b4792f36.7b37e","name":"Register Namespace","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"www.test.com","payload":"{\"opcuaCommand\":\"registerNamespace\"}","payloadType":"json","x":140,"y":560,"wires":[["ab08549b.86da7"]]},{"id":"b21c0c9.938b5f","type":"inject","z":"b4792f36.7b37e","name":"AddVariable StringArray[10]","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=1;s=StringArray;datatype=StringArray[10]","payload":"{\"opcuaCommand\":\"addVariable\"}","payloadType":"json","x":400,"y":800,"wires":[["ab08549b.86da7"]]},{"id":"b5a4ee65.8d2","type":"inject","z":"b4792f36.7b37e","name":"AddVariable","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=5;s=TestAddVariable1;datatype=Float","payload":"{\"opcuaCommand\":\"addVariable\"}","payloadType":"json","x":110,"y":640,"wires":[["ab08549b.86da7"]]},{"id":"bf91c51c.a9a3b8","type":"inject","z":"b4792f36.7b37e","name":"DiscreteAlarm","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=1;s=TestAddVariable1;datatype=Float","payload":"{\"opcuaCommand\":\"installDiscreteAlarm\"}","payloadType":"json","x":110,"y":840,"wires":[["394b5110.24d50e"]]},{"id":"394b5110.24d50e","type":"function","z":"b4792f36.7b37e","name":"Alarm parameters","func":"msg.priority = 500;\nmsg.alarmText = \"New alarm\";\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":840,"wires":[["ab08549b.86da7"]]},{"id":"930e2e83.1cccd","type":"inject","z":"b4792f36.7b37e","name":"LimitAlarm","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=1;s=TestAddVariable1;datatype=Float","payload":"{\"opcuaCommand\":\"installLimitAlarm\"}","payloadType":"json","x":100,"y":880,"wires":[["7a2ebbea.8ca284"]]},{"id":"7a2ebbea.8ca284","type":"function","z":"b4792f36.7b37e","name":"Limit parameters","func":"// Limits\nmsg.hh = 10.0;\nmsg.h = 8.0;\nmsg.l = 1.5;\nmsg.ll = 0.2;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":880,"wires":[["ab08549b.86da7"]]},{"id":"598af9d9.76baf8","type":"OpcUa-Client","z":"b4792f36.7b37e","endpoint":"58241fb2.5e084","action":"history","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"Client for LocalServer","x":800,"y":960,"wires":[["d0171bdc.65e588"]]},{"id":"fee43798.36af38","type":"inject","z":"b4792f36.7b37e","name":"Read history values","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":150,"y":960,"wires":[["7357a90f.2086b8"]]},{"id":"7357a90f.2086b8","type":"function","z":"b4792f36.7b37e","name":"Read history parameters","func":"msg.topic=\"ns=1;s=TestAddVariable3\";\nmsg.aggregate=\"raw\";\nmsg.end = Date.now() + (2 * 60 * 60); // GMT + 2h\nmsg.start = 1638132240000; //  msg.end - (6 * 60 * 60); // 10 min\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":960,"wires":[["598af9d9.76baf8"]]},{"id":"d0171bdc.65e588","type":"debug","z":"b4792f36.7b37e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":960,"wires":[]},{"id":"555a9045.67e46","type":"inject","z":"b4792f36.7b37e","name":"Read history min","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":140,"y":1020,"wires":[["e2e73b4f.e06f58"]]},{"id":"e2e73b4f.e06f58","type":"function","z":"b4792f36.7b37e","name":"Read history parameters","func":"msg.topic=\"ns=1;s=TestAddVariable3\";\nmsg.aggregate=\"min\";\nmsg.end = Date.now() + (2 * 60 * 60); // GMT + 2h\nmsg.start = 1638132240000; //  msg.end - (6 * 60 * 60); // 10 min\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1020,"wires":[["598af9d9.76baf8"]]},{"id":"7f190d30.3d7dc4","type":"inject","z":"b4792f36.7b37e","name":"Read history max","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":140,"y":1080,"wires":[["857853f.6226cb"]]},{"id":"857853f.6226cb","type":"function","z":"b4792f36.7b37e","name":"Read history parameters","func":"msg.topic=\"ns=1;s=TestAddVariable3\";\nmsg.aggregate=\"max\";\nmsg.end = Date.now() + (2 * 60 * 60); // GMT + 2h\nmsg.start = 1638132240000; //  msg.end - (6 * 60 * 60); // 10 min\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1080,"wires":[["598af9d9.76baf8"]]},{"id":"2d708cc4.543dd4","type":"inject","z":"b4792f36.7b37e","name":"Read history ave","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":140,"y":1140,"wires":[["cc1bd491.ccf018"]]},{"id":"cc1bd491.ccf018","type":"function","z":"b4792f36.7b37e","name":"Read history parameters","func":"msg.topic=\"ns=1;s=TestAddVariable3\";\nmsg.aggregate=\"max\";\nmsg.end = Date.now() + (2 * 60 * 60); // GMT + 2h\nmsg.start = 1638132240000; //  msg.end - (6 * 60 * 60); // 10 min\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1140,"wires":[["598af9d9.76baf8"]]},{"id":"96a96e74.72ec","type":"inject","z":"b4792f36.7b37e","name":"Read history interpolative","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":170,"y":1200,"wires":[["ca022f7a.76cdf"]]},{"id":"ca022f7a.76cdf","type":"function","z":"b4792f36.7b37e","name":"Read history parameters","func":"msg.topic=\"ns=1;s=TestAddVariable3\";\nmsg.aggregate=\"interpolative\";\nmsg.end = Date.now() + (2 * 60 * 60); // GMT + 2h\nmsg.start = 1638132240000; //  msg.end - (6 * 60 * 60); // 10 min\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1200,"wires":[["598af9d9.76baf8"]]},{"id":"3369c6e5.64934a","type":"function","z":"b4792f36.7b37e","name":"Read history 1h to now","func":"msg.topic=\"ns=1;s=TestAddVariable3\";\nmsg.aggregate=\"raw\";\n// Default end time is now\n// Default start time is now - 1h\nmsg.numValuesPerNode = 10;\nmsg.returnBounds = false;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":920,"wires":[["598af9d9.76baf8"]]},{"id":"8f29731c.4dc8a","type":"inject","z":"b4792f36.7b37e","name":"Read history values","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":150,"y":920,"wires":[["3369c6e5.64934a"]]},{"id":"01c60b6b74caff83","type":"inject","z":"b4792f36.7b37e","name":"Save address space","props":[{"p":"payload"},{"p":"filename","v":"./testsave.xml","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"opcuaCommand\":\"saveAddressSpace\"}","payloadType":"json","x":890,"y":100,"wires":[["ab08549b.86da7"]]},{"id":"c51addccaf822f91","type":"inject","z":"b4792f36.7b37e","name":"Load address space","props":[{"p":"payload"},{"p":"filename","v":"./testsave.xml","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"opcuaCommand\":\"loadAddressSpace\"}","payloadType":"json","x":1150,"y":100,"wires":[["ab08549b.86da7"]]},{"id":"522322cc35967d69","type":"inject","z":"b4792f36.7b37e","name":"Bind variables","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"opcuaCommand\":\"bindVariables\"}","payloadType":"json","x":1430,"y":100,"wires":[["ab08549b.86da7"]]},{"id":"2938ce4a864112b1","type":"inject","z":"b4792f36.7b37e","name":"Bind method","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=0;i=12873","payload":"{\"opcuaCommand\":\"bindMethod\"}","payloadType":"json","x":1430,"y":160,"wires":[["7a7d9540142a086b"]]},{"id":"7a7d9540142a086b","type":"function","z":"b4792f36.7b37e","name":"methodFunc","func":"msg.code = async function methodFunc(inputArguments, context) {\n                                console.log(\"Method Input arguments: \" + JSON.stringify(inputArguments));\n                                return { statusCode: 0 };\n                            };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1710,"y":100,"wires":[["ab08549b.86da7"]]},{"id":"49ec4896075b0d72","type":"inject","z":"b4792f36.7b37e","name":"AddVariable wrong datatype","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=1;s=TestAddVariable1;datatype=DInt","payload":"{\"opcuaCommand\":\"addVariable\"}","payloadType":"json","x":240,"y":140,"wires":[["ab08549b.86da7"]]},{"id":"1da7522b.6a06ae","type":"inject","z":"a0274cc0.46c5b","name":"Subscribe Counter","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"Counter;datatype=Int32","payloadType":"str","x":170,"y":260,"wires":[["a7c5328e.325a3"]]},{"id":"6ecd29d5.74b5f8","type":"debug","z":"a0274cc0.46c5b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":140,"wires":[]},{"id":"a7c5328e.325a3","type":"template","z":"a0274cc0.46c5b","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"ns=3;s={{payload}}","output":"str","x":400,"y":260,"wires":[["a46f4bf6.8625f8"]]},{"id":"1e7746fa.2f9ff9","type":"debug","z":"a0274cc0.46c5b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":260,"wires":[]},{"id":"3a2de72a.9af798","type":"OpcUa-Client","z":"a0274cc0.46c5b","endpoint":"bb039652.dcf5a8","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","securitymode":"None","securitypolicy":"None","name":"","x":780,"y":140,"wires":[["6ecd29d5.74b5f8"]]},{"id":"8b6950bc.7acb4","type":"inject","z":"a0274cc0.46c5b","name":"Subscribe Random","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"Random;datatype=Float","payloadType":"str","x":170,"y":320,"wires":[["a7c5328e.325a3"]]},{"id":"a46f4bf6.8625f8","type":"function","z":"a0274cc0.46c5b","name":"Msg with topic + payload","func":"msg.topic = msg.payload.replace(\"&#x3D;\",\"=\");\nmsg.payload = { \"action\": \"subscribe\"};\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":260,"wires":[["1e7746fa.2f9ff9","3a2de72a.9af798"]]},{"id":"52fbc0dc.c0617","type":"inject","z":"fe85ba5b.b23e08","name":"Add variable","props":[{"p":"payload","v":"","vt":"str"},{"p":"topic","v":"","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"str","x":190,"y":140,"wires":[["5073ffdc.49f6f"]]},{"id":"90cfbe2d.7924d","type":"debug","z":"fe85ba5b.b23e08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":970,"y":140,"wires":[]},{"id":"1d47a4b3.54b6ab","type":"OpcUa-Client","z":"fe85ba5b.b23e08","endpoint":"bb039652.dcf5a8","action":"readmultiple","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"MULTI1","name":"MULTIREAD ","x":570,"y":140,"wires":[["90cfbe2d.7924d","bd012347.39fd1"]]},{"id":"5073ffdc.49f6f","type":"OpcUa-Item","z":"fe85ba5b.b23e08","item":"ns=3;i=1001","datatype":"Double","value":"","name":"Counter","x":360,"y":140,"wires":[["1d47a4b3.54b6ab","c2d18bce37ba266c"]]},{"id":"e78b36a6.a6a058","type":"inject","z":"fe85ba5b.b23e08","name":"Add variable","repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"str","x":190,"y":200,"wires":[["f55416ad.878e68"]]},{"id":"f55416ad.878e68","type":"OpcUa-Item","z":"fe85ba5b.b23e08","item":"ns=3;i=1002","datatype":"Double","value":"","name":"Random","x":360,"y":200,"wires":[["1d47a4b3.54b6ab","c2d18bce37ba266c"]]},{"id":"b57fd94f.8c6048","type":"inject","z":"fe85ba5b.b23e08","name":"Read all","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"readmultiple","payload":"","payloadType":"str","x":340,"y":240,"wires":[["1d47a4b3.54b6ab"]]},{"id":"2e60e5fb.a3b8fa","type":"inject","z":"fe85ba5b.b23e08","name":"Add variable","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":190,"y":340,"wires":[["74f6f09b.a3159"]]},{"id":"2210ba4a.85d506","type":"debug","z":"fe85ba5b.b23e08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":340,"wires":[]},{"id":"1b6a502f.18a9","type":"OpcUa-Client","z":"fe85ba5b.b23e08","endpoint":"bb039652.dcf5a8","action":"writemultiple","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"D:/TEMP/MULTI2","name":"MULTIWRITE","x":580,"y":340,"wires":[["2210ba4a.85d506"]]},{"id":"74f6f09b.a3159","type":"OpcUa-Item","z":"fe85ba5b.b23e08","item":"ns=5;s=Double","datatype":"Double","value":"22.3","name":"Double","x":360,"y":340,"wires":[["1b6a502f.18a9"]]},{"id":"f1eb00a9.88095","type":"inject","z":"fe85ba5b.b23e08","name":"Add variable","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":190,"y":400,"wires":[["9a469e78.97c7c"]]},{"id":"9a469e78.97c7c","type":"OpcUa-Item","z":"fe85ba5b.b23e08","item":"ns=5;s=Int32","datatype":"Int32","value":"32","name":"Int32","x":350,"y":400,"wires":[["1b6a502f.18a9"]]},{"id":"b0c04db7.2b0cd","type":"inject","z":"fe85ba5b.b23e08","name":"Write all","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"writemultiple","payload":"","payloadType":"str","x":350,"y":460,"wires":[["1b6a502f.18a9"]]},{"id":"31de1647.2002aa","type":"inject","z":"fe85ba5b.b23e08","name":"Add ALL","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":180,"y":540,"wires":[["6be8253c.401edc"]]},{"id":"6be8253c.401edc","type":"function","z":"fe85ba5b.b23e08","name":"ALL","func":"msg.payload = [];\n\nmsg.topic=\"ns=5;s=Double\";\n\nmsg.payload[0] = \n{\n    nodeId: \"ns=5;s=Double\",\n    datatype: \"Double\",\n    value: 22.33\n};\n\nmsg.payload[1] = \n{\n    nodeId: \"ns=5;s=Int32\",\n    datatype: \"Int32\",\n    value: 32\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":540,"wires":[["1b6a502f.18a9"]]},{"id":"2d203d01.24cbc2","type":"inject","z":"fe85ba5b.b23e08","name":"Clear","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"clearitems","payload":"","payloadType":"str","x":350,"y":280,"wires":[["1d47a4b3.54b6ab"]]},{"id":"e8bf1448.f65228","type":"inject","z":"fe85ba5b.b23e08","name":"Clear","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"clearitems","payload":"","payloadType":"str","x":350,"y":500,"wires":[["1b6a502f.18a9"]]},{"id":"bd012347.39fd1","type":"function","z":"fe85ba5b.b23e08","name":"","func":"var variableName = msg.topic.nodeId.toString();\n// substring(7); // Part after ns=3;i= or ns=1;s=\nvariableName = variableName.substring(7);\nif (context.get(variableName) === undefined) {\n    context.set(variableName, msg.payload.toString())\n}\nconsole.log(\"Variable: \" + variableName + \" value:\" +msg.payload.toString())\n\n// Use # as delimeter\nif (context.get(\"variables\") === undefined) {\n    context.set(\"variables\", variableName)\n    variables=variableName;\n}\nelse {\n    variables = context.get(\"variables\") + \"#\" + variableName; // Append\n}\nif (context.get(\"values\") === undefined) {\n    context.set(\"values\", msg.payload.toString());\n    values=msg.payload.toString();\n}\nelse {\n    values = context.get(\"values\") + \"#\" + msg.payload.toString(); // Append\n}\n\nnames = variables.split(\"#\");\nvals  = values.split(\"#\");\n\nconsole.log(\"Names:\" + JSON.stringify(names));\nconsole.log(\"Vals :\" + JSON.stringify(vals));\nvar newmsg = {};\nnewmsg.payload = {};\nnewmsg.payload.variables = names;\nnewmsg.payload.values = vals;\n\nif (names.length == 2) {\n    return newmsg;\n}","outputs":1,"noerr":0,"x":800,"y":200,"wires":[["d65f1531.7e76c8"]]},{"id":"d65f1531.7e76c8","type":"debug","z":"fe85ba5b.b23e08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":970,"y":200,"wires":[]},{"id":"5226ceb8df8db269","type":"OpcUa-Client","z":"fe85ba5b.b23e08","endpoint":"bb039652.dcf5a8","action":"register","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"RegisterNodes","x":720,"y":80,"wires":[["6f63640e5611cf58"]]},{"id":"6f63640e5611cf58","type":"debug","z":"fe85ba5b.b23e08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":970,"y":80,"wires":[]},{"id":"c2d18bce37ba266c","type":"function","z":"fe85ba5b.b23e08","name":"","func":"msg.payload = [];\nmsg.payload.push(msg.topic);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":80,"wires":[["5226ceb8df8db269"]]},{"id":"468c413.ee253c","type":"inject","z":"731a2fa7.4f58f","name":"Add variable","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":250,"y":200,"wires":[["9b9b44d8.d45438"]]},{"id":"4eec7186.dc65b","type":"debug","z":"731a2fa7.4f58f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":260,"wires":[]},{"id":"9b9b44d8.d45438","type":"OpcUa-Item","z":"731a2fa7.4f58f","item":"ns=8;s=Scalar_Simulation_Float","datatype":"Float","value":"","name":"Simulation Float","x":440,"y":200,"wires":[[]]},{"id":"7f7c8d7b.46e224","type":"inject","z":"731a2fa7.4f58f","name":"Add variable","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":250,"y":260,"wires":[["4d04c154.79f07"]]},{"id":"4d04c154.79f07","type":"OpcUa-Item","z":"731a2fa7.4f58f","item":"ns=8;s=Scalar_Simulation_Int32","datatype":"Int32","value":"","name":"Simulation Int32","x":440,"y":260,"wires":[[]]},{"id":"88f61975.93a2c8","type":"inject","z":"731a2fa7.4f58f","name":"Read all","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"readmultiple","payload":"","payloadType":"str","x":240,"y":320,"wires":[[]]},{"id":"ec21b053.b9f3a","type":"inject","z":"731a2fa7.4f58f","name":"Clear","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"clearitems","payload":"","payloadType":"str","x":230,"y":380,"wires":[[]]},{"id":"1eac77b96ffa4ebc","type":"comment","z":"731a2fa7.4f58f","name":"Client node","info":"Endpoint:\nopc.tcp://opcuademo.sterfive.com:26543\n\nSecurity:\nNone None","x":760,"y":200,"wires":[]},{"id":"a54a9dae.6f85e","type":"OpcUa-Method","z":"106e32c8.9ad53d","endpoint":"bb039652.dcf5a8","objectId":"ns=6;s=MyDevice","methodId":"ns=6;s=MyMethod","name":"MyMethod","inputArguments":[],"arg0name":"Operation","arg0type":"String","arg0typeid":"","arg0value":"pow","arg1name":"Parameter","arg1type":"Double","arg1typeid":"","arg1value":"2","arg2name":"","arg2type":"","arg2typeid":"","arg2value":"","out0name":"Result","out0type":"Double","out0typeid":"","out0value":"","x":720,"y":180,"wires":[["9fda657b.bf9428"]]},{"id":"3303ab04.c5e564","type":"inject","z":"106e32c8.9ad53d","name":"Call pow(2)","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":510,"y":180,"wires":[["a54a9dae.6f85e"]]},{"id":"9fda657b.bf9428","type":"debug","z":"106e32c8.9ad53d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":950,"y":180,"wires":[]},{"id":"7d53da5f.28f424","type":"OpcUa-Method","z":"106e32c8.9ad53d","endpoint":"bb039652.dcf5a8","objectId":"ns=6;s=MyDevice","methodId":"ns=6;s=MyMethod","name":"MyMethod","inputArguments":[],"arg0name":"Operation","arg0type":"String","arg0typeid":"","arg0value":"tan","arg1name":"Parameter","arg1type":"Double","arg1typeid":"","arg1value":"2","arg2name":"","arg2type":"","arg2typeid":"","arg2value":"","out0name":"Result","out0type":"Double","out0typeid":"","out0value":"","x":730,"y":280,"wires":[["e2bfb0c3.c5ca3"]]},{"id":"fe386fe5.1d8a8","type":"inject","z":"106e32c8.9ad53d","name":"Call tan(2)","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":510,"y":280,"wires":[["7d53da5f.28f424"]]},{"id":"e2bfb0c3.c5ca3","type":"debug","z":"106e32c8.9ad53d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":940,"y":280,"wires":[]},{"id":"f80a741b.773708","type":"OpcUa-Method","z":"106e32c8.9ad53d","endpoint":"bb039652.dcf5a8","objectId":"ns=6;s=MyDevice","methodId":"ns=6;s=MyMethod","name":"MyMethod","inputArguments":[],"arg0name":"Operation","arg0type":"String","arg0typeid":"","arg0value":"tanX","arg1name":"Parameter","arg1type":"Double","arg1typeid":"","arg1value":"2","arg2name":"","arg2type":"","arg2typeid":"","arg2value":"","out0name":"Result","out0type":"Double","out0typeid":"","out0value":"","x":730,"y":380,"wires":[["bee6cafb.1f3578"]]},{"id":"3b83d10b.adc06e","type":"inject","z":"106e32c8.9ad53d","name":"Call tanX(2)","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":520,"y":380,"wires":[["f80a741b.773708"]]},{"id":"bee6cafb.1f3578","type":"debug","z":"106e32c8.9ad53d","name":"Error(s) output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":970,"y":380,"wires":[]}]