examples/OPCUA-RIGHTS.json
[{"id":"b4792f36.7b37e","type":"tab","label":"AccessLevel & Permissions","disabled":false,"info":"Small flow to show how new OPC UA rights node can be used."},{"id":"440c46c6.769ab8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"b59ed3ae.9ea3","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"58241fb2.5e084","type":"OpcUa-Endpoint","endpoint":"opc.tcp://localhost:53881/Anonymous","secpol":"None","secmode":"None","none":true,"login":false,"usercert":false,"usercertificate":"","userprivatekey":""},{"id":"9cd7df76dded4d0a","type":"OpcUa-Endpoint","endpoint":"opcua://localhost:53888","secpol":"None","secmode":"None","login":false,"usercert":true,"usercertificate":"cert.pem","userprivatekey":"key.pem"},{"id":"ca9e0ada1995eb08","type":"OpcUa-Endpoint","endpoint":"opc.tcp://localhost:53881/Anonymous","secpol":"None","secmode":"None","none":true,"login":false,"usercert":false,"usercertificate":"","userprivatekey":""},{"id":"efa15f3eee45752d","type":"OpcUa-Endpoint","endpoint":"opc.tcp://localhost:53881/Observer","secpol":"Basic256","secmode":"Sign","none":false,"login":true,"usercert":false,"usercertificate":"","userprivatekey":""},{"id":"ab08549b.86da7","type":"OpcUa-Server","z":"b4792f36.7b37e","port":"53881","name":"LocalServer ","endpoint":"","users":"users.json","nodesetDir":"","folderName4PKI":"MYSERVER","autoAcceptUnknownCertificate":true,"registerToDiscovery":false,"constructDefaultAddressSpace":true,"allowAnonymous":true,"endpointNone":true,"endpointSign":true,"endpointSignEncrypt":true,"endpointBasic128Rsa15":true,"endpointBasic256":true,"endpointBasic256Sha256":true,"maxNodesPerBrowse":"10000","maxNodesPerHistoryReadData":"","maxNodesPerHistoryReadEvents":"","maxNodesPerHistoryUpdateData":"","maxNodesPerRead":"10000","maxNodesPerWrite":"","maxNodesPerMethodCall":"","maxNodesPerRegisterNodes":"","maxNodesPerNodeManagement":"","maxMonitoredItemsPerCall":"","maxNodesPerHistoryUpdateEvents":"","maxNodesPerTranslateBrowsePathsToNodeIds":"","x":1050,"y":400,"wires":[["88d21f70.acd4"]]},{"id":"a0cff67c.ed12d8","type":"inject","z":"b4792f36.7b37e","name":"AddVariable TestVariable1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=1;s=TestVariable1;datatype=Float","payload":"{\"opcuaCommand\":\"addVariable\"}","payloadType":"json","x":170,"y":220,"wires":[["3981528966854032"]]},{"id":"c9d8f5da.7c4d48","type":"inject","z":"b4792f36.7b37e","name":"AddFolder TestFolder","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=1;s=TestFolder","payload":"{\"opcuaCommand\":\"addFolder\"}","payloadType":"json","x":160,"y":160,"wires":[["3981528966854032"]]},{"id":"1a28d476.c9f36c","type":"inject","z":"b4792f36.7b37e","name":"InstallHistorian","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=1;s=TestVariable1;datatype=Float","payload":"{\"opcuaCommand\":\"installHistorian\"}","payloadType":"json","x":140,"y":340,"wires":[["908088bbf0e617f1"]]},{"id":"88d21f70.acd4","type":"debug","z":"b4792f36.7b37e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1250,"y":400,"wires":[]},{"id":"598af9d9.76baf8","type":"OpcUa-Client","z":"b4792f36.7b37e","endpoint":"efa15f3eee45752d","action":"history","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"LocalClient","name":"Observer (username&password) ","x":870,"y":560,"wires":[["d0171bdc.65e588"]]},{"id":"d0171bdc.65e588","type":"debug","z":"b4792f36.7b37e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":560,"wires":[]},{"id":"555a9045.67e46","type":"inject","z":"b4792f36.7b37e","name":"Read history min","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":140,"y":560,"wires":[["e2e73b4f.e06f58"]]},{"id":"e2e73b4f.e06f58","type":"function","z":"b4792f36.7b37e","name":"Read history parameters","func":"msg.topic=\"ns=1;s=TestVariable1\";\nmsg.aggregate=\"min\";\nmsg.end = Date.now() + (2 * 60 * 60); // GMT + 2h\nmsg.start = 1638132240000; //  msg.end - (6 * 60 * 60); // 10 min\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":560,"wires":[["598af9d9.76baf8"]]},{"id":"3981528966854032","type":"OpcUa-Rights","z":"b4792f36.7b37e","accessLevelCurrentRead":true,"accessLevelCurrentWrite":true,"accessLevelStatusWrite":true,"accessLevelHistoryRead":false,"accessLevelHistoryWrite":false,"accessLevelSemanticChange":true,"role":"a","permissionBrowse":true,"permissionRead":true,"permissionWrite":false,"permissionWriteAttribute":false,"permissionReadRole":true,"permissionWriteRole":false,"permissionReadHistory":true,"permissionWriteHistory":false,"permissionInsertHistory":false,"permissionModifyHistory":false,"permissionDeleteHistory":false,"permissionReceiveEvents":true,"permissionCall":false,"permissionAddReference":false,"permissionRemoveReference":false,"permissionDeleteNode":false,"permissionAddNode":false,"name":"Anonymous: read acccess","x":620,"y":160,"wires":[["17b1538ec385b8f9"]]},{"id":"17b1538ec385b8f9","type":"OpcUa-Rights","z":"b4792f36.7b37e","accessLevelCurrentRead":true,"accessLevelCurrentWrite":true,"accessLevelStatusWrite":true,"accessLevelHistoryRead":true,"accessLevelHistoryWrite":true,"accessLevelSemanticChange":true,"role":"e","permissionBrowse":true,"permissionRead":true,"permissionWrite":true,"permissionWriteAttribute":true,"permissionReadRole":true,"permissionWriteRole":true,"permissionReadHistory":true,"permissionWriteHistory":true,"permissionInsertHistory":true,"permissionModifyHistory":false,"permissionDeleteHistory":false,"permissionReceiveEvents":true,"permissionCall":true,"permissionAddReference":false,"permissionRemoveReference":false,"permissionDeleteNode":false,"permissionAddNode":false,"name":"Engineer: Write","x":860,"y":160,"wires":[["08c239a138a929a7"]]},{"id":"661482104b7d87a7","type":"comment","z":"b4792f36.7b37e","name":"Add two roles with permissions","info":"","x":630,"y":100,"wires":[]},{"id":"908088bbf0e617f1","type":"OpcUa-Rights","z":"b4792f36.7b37e","accessLevelCurrentRead":true,"accessLevelCurrentWrite":true,"accessLevelStatusWrite":false,"accessLevelHistoryRead":true,"accessLevelHistoryWrite":false,"accessLevelSemanticChange":true,"role":"b","permissionBrowse":true,"permissionRead":true,"permissionWrite":false,"permissionWriteAttribute":false,"permissionReadRole":true,"permissionWriteRole":true,"permissionReadHistory":true,"permissionWriteHistory":false,"permissionInsertHistory":true,"permissionModifyHistory":false,"permissionDeleteHistory":false,"permissionReceiveEvents":true,"permissionCall":false,"permissionAddReference":false,"permissionRemoveReference":false,"permissionDeleteNode":false,"permissionAddNode":false,"name":"Observer","x":560,"y":340,"wires":[["ab08549b.86da7"]]},{"id":"0eaa8ee79f43129b","type":"OpcUa-Client","z":"b4792f36.7b37e","endpoint":"efa15f3eee45752d","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"LocalClient","name":"Observer: With write access","x":860,"y":640,"wires":[["eb5b597d22d53956"]]},{"id":"eb5b597d22d53956","type":"debug","z":"b4792f36.7b37e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":640,"wires":[]},{"id":"5cc314ee80a4eb9b","type":"OpcUa-Item","z":"b4792f36.7b37e","item":"ns=1;s=TestVariable1","datatype":"Float","value":"12.3","name":"TestVariable1","x":460,"y":640,"wires":[["0eaa8ee79f43129b"]]},{"id":"349782d42a9d8171","type":"inject","z":"b4792f36.7b37e","name":"Write","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":120,"y":640,"wires":[["5cc314ee80a4eb9b"]]},{"id":"7ce5dd84cca72c74","type":"comment","z":"b4792f36.7b37e","name":"Observer role","info":"Can read history, no write access/permission","x":580,"y":300,"wires":[]},{"id":"73c1c46431feb6bf","type":"inject","z":"b4792f36.7b37e","name":"Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":110,"y":720,"wires":[["70b6cd8bb62776e1"]]},{"id":"6b656187e3881d5f","type":"OpcUa-Client","z":"b4792f36.7b37e","endpoint":"58241fb2.5e084","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"LocalClient","name":"Anonymous: Read","x":830,"y":720,"wires":[["c4d3a36472b093ee"]]},{"id":"c4d3a36472b093ee","type":"debug","z":"b4792f36.7b37e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":720,"wires":[]},{"id":"70b6cd8bb62776e1","type":"OpcUa-Item","z":"b4792f36.7b37e","item":"ns=1;s=TestVariable1","datatype":"Float","value":"12.3","name":"TestVariable1","x":460,"y":720,"wires":[["6b656187e3881d5f"]]},{"id":"7b9f3c373d0573c6","type":"inject","z":"b4792f36.7b37e","name":"Write","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":110,"y":800,"wires":[["1ce3cb9f27e7c71b"]]},{"id":"b167e0946a56d5e2","type":"OpcUa-Client","z":"b4792f36.7b37e","endpoint":"58241fb2.5e084","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"LocalClient","name":"Anonymous: Write","x":830,"y":800,"wires":[["191e55ade4806c94"]]},{"id":"191e55ade4806c94","type":"debug","z":"b4792f36.7b37e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":800,"wires":[]},{"id":"1ce3cb9f27e7c71b","type":"OpcUa-Item","z":"b4792f36.7b37e","item":"ns=1;s=TestVariable1","datatype":"Float","value":"12.3","name":"TestVariable1","x":460,"y":800,"wires":[["b167e0946a56d5e2"]]},{"id":"08c239a138a929a7","type":"OpcUa-Rights","z":"b4792f36.7b37e","accessLevelCurrentRead":true,"accessLevelCurrentWrite":true,"accessLevelStatusWrite":true,"accessLevelHistoryRead":true,"accessLevelHistoryWrite":true,"accessLevelSemanticChange":true,"role":"b","permissionBrowse":true,"permissionRead":true,"permissionWrite":true,"permissionWriteAttribute":true,"permissionReadRole":true,"permissionWriteRole":true,"permissionReadHistory":true,"permissionWriteHistory":true,"permissionInsertHistory":true,"permissionModifyHistory":false,"permissionDeleteHistory":false,"permissionReceiveEvents":true,"permissionCall":true,"permissionAddReference":false,"permissionRemoveReference":false,"permissionDeleteNode":false,"permissionAddNode":false,"name":"Observer: Write","x":1060,"y":160,"wires":[["ab08549b.86da7"]]}]