examples/OPCUA-MULTI-SUB.json
[{"id":"7008401a.b94db","type":"tab","label":"Subscribe Multiple","disabled":false,"info":"Code actually uses monitoredItemGroup"},{"id":"68021f9.ba14de","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://localhost:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false},{"id":"bbf28314.1321f","type":"function","z":"7008401a.b94db","name":"NodeId Array","func":"// Tested with Prosys\nmsg.topic = \"multiple\";\nmsg.payload = [];\nmsg.payload.push({\n    // Counter\n    nodeId: \"ns=3;i=1001\"\n});\nmsg.payload.push({\n    // Random\n    nodeId: \"ns=3;i=1002\",\n});\nmsg.payload.push({\n    // Sawtooth\n    nodeId: \"ns=3;i=1003\",\n});\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":280,"wires":[["244b0726.cf6e98"]]},{"id":"700c6d99.0e7a84","type":"inject","z":"7008401a.b94db","name":"Subscribe multiple","topic":"multiple","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":280,"wires":[["bbf28314.1321f"]]},{"id":"244b0726.cf6e98","type":"OpcUa-Client","z":"7008401a.b94db","endpoint":"68021f9.ba14de","action":"subscribe","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":900,"y":280,"wires":[["ce737735.8cd168","d0e678a9.503678"]]},{"id":"ce737735.8cd168","type":"debug","z":"7008401a.b94db","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1120,"y":280,"wires":[]},{"id":"d0e678a9.503678","type":"function","z":"7008401a.b94db","name":"Just value","func":"if (msg.payload && msg.payload.value) {\n  var value = msg.payload.value.value;\n  msg.payload = value;\n  return msg;\n}\n","outputs":1,"noerr":0,"x":1130,"y":140,"wires":[["d26bd7f3.ee7fb8"]]},{"id":"d26bd7f3.ee7fb8","type":"debug","z":"7008401a.b94db","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1320,"y":140,"wires":[]},{"id":"93d8a766.c57aa8","type":"function","z":"7008401a.b94db","name":"NodeId Array (Static variables)","func":"// Tested with Prosys static variables\nmsg.topic = \"multiple\";\nmsg.payload = [];\nmsg.payload.push({nodeId: \"ns=5;s=Boolean\"});\nmsg.payload.push({nodeId: \"ns=5;s=Double\"});\nmsg.payload.push({nodeId: \"ns=5;s=Int32\"});\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":520,"wires":[["ba45b808.7ff578"]]},{"id":"2d805dd3.473632","type":"inject","z":"7008401a.b94db","name":"Subscribe multiple","topic":"multiple","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":520,"wires":[["93d8a766.c57aa8"]]},{"id":"ba45b808.7ff578","type":"OpcUa-Client","z":"7008401a.b94db","endpoint":"68021f9.ba14de","action":"subscribe","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":910,"y":520,"wires":[["b47c1a47.beec88","20bed05d.ee2b7"]]},{"id":"b47c1a47.beec88","type":"debug","z":"7008401a.b94db","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":520,"wires":[]},{"id":"20bed05d.ee2b7","type":"function","z":"7008401a.b94db","name":"Just value","func":"if (msg.payload && msg.payload.value) {\n  var value = msg.payload.value.value;\n  msg.payload = value;\n  return msg;\n}\n","outputs":1,"noerr":0,"x":1140,"y":380,"wires":[["73a247cf.4ded28"]]},{"id":"73a247cf.4ded28","type":"debug","z":"7008401a.b94db","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1330,"y":380,"wires":[]},{"id":"d7570c98.640e1","type":"comment","z":"7008401a.b94db","name":"Instructions","info":"# topic\nmsg.topic must be \"multiple\"\n\n# payload\nmsg.paylod contains array of nodeId objects\n{\"nodeId\": \"ns=1;s=NodeIdString\"\n","x":270,"y":80,"wires":[]}]