examples/OPCUA-CONNECT.json
[{"id":"16253f37594af6b7","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"5e9ff8d62009cce2","type":"OpcUa-Client","z":"16253f37594af6b7","endpoint":"1b1425813f5ea7f6","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":640,"y":200,"wires":[["ee51f9804aed9353"]]},{"id":"ddadebfa90c83c16","type":"OpcUa-Item","z":"16253f37594af6b7","item":"ns=3;i=1001","datatype":"Double","value":"","name":"Counter","x":400,"y":200,"wires":[["5e9ff8d62009cce2"]]},{"id":"37d3f8bb713d74f4","type":"inject","z":"16253f37594af6b7","name":"Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":170,"y":200,"wires":[["ddadebfa90c83c16"]]},{"id":"3b25388d1be4453d","type":"inject","z":"16253f37594af6b7","name":"Disconnect","props":[{"p":"action","v":"disconnect","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":240,"y":280,"wires":[["5e9ff8d62009cce2"]]},{"id":"ee51f9804aed9353","type":"debug","z":"16253f37594af6b7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":200,"wires":[]},{"id":"19f724539cac24ae","type":"inject","z":"16253f37594af6b7","name":"Connect","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":340,"wires":[["0527d8662773f724"]]},{"id":"f51a14507dc17b69","type":"inject","z":"16253f37594af6b7","name":"Reconnect","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":420,"wires":[["1578860caf6ef5e5"]]},{"id":"0527d8662773f724","type":"function","z":"16253f37594af6b7","name":"set options","func":"msg.action = 'connect';\nmsg.OpcUaEndpoint = {}; // Initialize msg.OpcUaEndpoint as an empty object\nmsg.OpcUaEndpoint.endpoint = 'opc.tcp://H7Q8Q13.mshome.net:53530/OPCUA/SimulationServer';\nmsg.OpcUaEndpoint.securityMode = 'None';\nmsg.OpcUaEndpoint.securityPolicy = 'None';\nmsg.OpcUaEndpoint.login = false;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":340,"wires":[["5e9ff8d62009cce2"]]},{"id":"1578860caf6ef5e5","type":"function","z":"16253f37594af6b7","name":"set options","func":"msg.action = 'connect';\nmsg.OpcUaEndpoint = {}; // Initialize msg.OpcUaEndpoint as an empty object\nmsg.OpcUaEndpoint.endpoint = 'opc.tcp://H7Q8Q13.mshome.net:53530/OPCUA/SimulationServer';\nmsg.OpcUaEndpoint.securityMode = 'None';\nmsg.OpcUaEndpoint.securityPolicy = 'None';\nmsg.OpcUaEndpoint.login = false;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":420,"wires":[["5e9ff8d62009cce2"]]},{"id":"1b1425813f5ea7f6","type":"OpcUa-Endpoint","endpoint":"opc.tcp://H7Q8Q13.mshome.net:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false}]
