examples/OPCUA-FILE.json
[{"id":"cc9eb060.bb1cc","type":"tab","label":"OPCUA-FILE","disabled":false,"info":"Read file: msg.topic contains file object nodeId.\n           msg.payload is buffer to file content.\n\nWrite file: msg.topic contains file object nodeId.\n            msg.payload is buffer to write.\n            OR\n            msg.fileName is fileName to write.\n            "},{"id":"823a6f11.f75ab","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://localhost:53881/","secpol":"None","secmode":"None","login":false},{"id":"82ea0973.b4a6f8","type":"OpcUa-Client","z":"cc9eb060.bb1cc","endpoint":"823a6f11.f75ab","action":"readfile","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"Read file","x":660,"y":160,"wires":[["46740567.08d56c"]]},{"id":"11c3035e.d38a9d","type":"OpcUa-Client","z":"cc9eb060.bb1cc","endpoint":"823a6f11.f75ab","action":"writefile","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"Write file","x":660,"y":260,"wires":[["fa75a5d4.270ab8"]]},{"id":"cf6248b1.2b8e08","type":"inject","z":"cc9eb060.bb1cc","name":"test.txt","topic":"ns=1;s=test.txt","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":160,"wires":[["82ea0973.b4a6f8"]]},{"id":"ee95982.0c49568","type":"debug","z":"cc9eb060.bb1cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":160,"wires":[]},{"id":"46740567.08d56c","type":"function","z":"cc9eb060.bb1cc","name":"toString()","func":"msg.payload = msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":160,"wires":[["ee95982.0c49568"]]},{"id":"2250e9cf.2ac036","type":"file in","z":"cc9eb060.bb1cc","name":"test.txt","filename":"c:/temp/test.txt","format":"","chunk":false,"sendError":false,"encoding":"none","x":430,"y":260,"wires":[["11c3035e.d38a9d"]]},{"id":"fa75a5d4.270ab8","type":"debug","z":"cc9eb060.bb1cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":260,"wires":[]},{"id":"d7dc1e74.4f43a","type":"inject","z":"cc9eb060.bb1cc","name":"Upload file","topic":"ns=1;s=test.txt","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":260,"wires":[["2250e9cf.2ac036"]]},{"id":"d2f04835.f3a458","type":"inject","z":"cc9eb060.bb1cc","name":"Upload msg to file","topic":"ns=1;s=test.txt","payload":"Test message to server","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":450,"y":340,"wires":[["11c3035e.d38a9d"]]},{"id":"d29d4204.19fdf","type":"OpcUa-Server","z":"cc9eb060.bb1cc","port":"53881","name":"","endpoint":"","users":"users.json","nodesetDir":"","autoAcceptUnknownCertificate":true,"registerToDiscovery":false,"constructDefaultAddressSpace":false,"allowAnonymous":true,"endpointNone":true,"endpointSign":true,"endpointSignEncrypt":true,"endpointBasic128Rsa15":true,"endpointBasic256":true,"endpointBasic256Sha256":true,"maxNodesPerBrowse":0,"maxNodesPerHistoryReadData":0,"maxNodesPerHistoryReadEvents":0,"maxNodesPerHistoryUpdateData":0,"maxNodesPerRead":0,"maxNodesPerWrite":0,"maxNodesPerMethodCall":0,"maxNodesPerRegisterNodes":0,"maxNodesPerNodeManagement":0,"maxMonitoredItemsPerCall":0,"maxNodesPerHistoryUpdateEvents":0,"maxNodesPerTranslateBrowsePathsToNodeIds":0,"x":660,"y":60,"wires":[[]]},{"id":"dc1f80b3.194a4","type":"inject","z":"cc9eb060.bb1cc","name":"addFolder: Files","topic":"ns=1;s=Files","payload":"{\"opcuaCommand\":\"addFolder\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":400,"y":60,"wires":[["d29d4204.19fdf"]]},{"id":"7b93ad58.092574","type":"inject","z":"cc9eb060.bb1cc","name":"addFile: c:/temp/test.txt","topic":"ns=1;s=test.txt","payload":"{\"opcuaCommand\":\"addFile\",\"fileName\":\"c:/temp/test.txt\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":100,"wires":[["d29d4204.19fdf"]]},{"id":"606d3f0e.c064b","type":"file in","z":"cc9eb060.bb1cc","name":"test2.txt","filename":"c:/temp/test2.txt","format":"","chunk":false,"sendError":false,"encoding":"none","x":440,"y":300,"wires":[["11c3035e.d38a9d"]]},{"id":"13898694.94ee89","type":"inject","z":"cc9eb060.bb1cc","name":"Upload file","topic":"ns=1;s=test.txt","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":300,"wires":[["606d3f0e.c064b"]]}]