examples/OPCUA_READMULTIPLE.json
[{"id":"d85dd4e7.e244b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5a1ac14b.4d0f38","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://TREL16087112.vstage.co:53530/OPCUA/SimulationServer","secpol":"None","secmode":"NONE","login":false},{"id":"ed421a9.d6319e8","type":"OpcUa-Client","z":"d85dd4e7.e244b","endpoint":"5a1ac14b.4d0f38","action":"readmultiple","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","name":"","x":571,"y":97.80000305175781,"wires":[["f993fd12.db5e98"]]},{"id":"96bd763.14a9308","type":"OpcUa-Item","z":"d85dd4e7.e244b","item":"ns=5;s=Counter1","datatype":"Int32","value":"","name":"","x":316,"y":50.19999694824219,"wires":[["ed421a9.d6319e8"]]},{"id":"d8a68c7a.a73008","type":"inject","z":"d85dd4e7.e244b","name":"Add item","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":127,"y":49,"wires":[["96bd763.14a9308"]]},{"id":"f993fd12.db5e98","type":"debug","z":"d85dd4e7.e244b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":783.9999847412109,"y":100.39999389648438,"wires":[]},{"id":"8ae51c8c.20bd3","type":"OpcUa-Item","z":"d85dd4e7.e244b","item":"ns=5;s=Random1","datatype":"Double","value":"","name":"","x":320.20001220703125,"y":116.19999694824219,"wires":[["ed421a9.d6319e8"]]},{"id":"1335adce.7f46ba","type":"inject","z":"d85dd4e7.e244b","name":"Add item","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":131.20001220703125,"y":115,"wires":[["8ae51c8c.20bd3"]]},{"id":"2c050a3d.91f496","type":"inject","z":"d85dd4e7.e244b","name":"Read multiple items","topic":"readmultiple","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":336.99998474121094,"y":183,"wires":[["ed421a9.d6319e8"]]},{"id":"690e4f9f.faeca","type":"inject","z":"d85dd4e7.e244b","name":"Clear nodeId array","topic":"clearitems","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":339.20001220703125,"y":229.1999969482422,"wires":[["ed421a9.d6319e8"]]}]