examples/OPCUA-TEST.json
[{"id":"806988c4.3acf58","type":"tab","label":"OPC UA Server"},{"id":"a1a59169.2d518","type":"OpcUa-Endpoint","z":"806988c4.3acf58","endpoint":"opc.tcp://localhost:53880/UA/SimpleNodeRedServer","login":false},{"id":"37bec949.2f5236","type":"debug","z":"806988c4.3acf58","name":"","active":true,"console":"false","complete":"false","x":840.5000152587891,"y":122,"wires":[]},{"id":"5d7fc3f3.4a71cc","type":"OpcUa-Server","z":"806988c4.3acf58","port":"53880","name":"","x":635.5000152587891,"y":119,"wires":[["37bec949.2f5236"]]},{"id":"9c01b56.5eb1448","type":"OpcUa-Client","z":"806988c4.3acf58","endpoint":"a1a59169.2d518","action":"read","time":10,"timeUnit":"s","name":"","x":603.5000152587891,"y":367.40003967285156,"wires":[["f05a868.550db78"]]},{"id":"3cd1603f.47c1f","type":"OpcUa-Item","z":"806988c4.3acf58","item":"ns=4;s=TestInt32","datatype":"Int32","value":"","name":"","x":358.5000305175781,"y":368.80006408691406,"wires":[["9c01b56.5eb1448"]]},{"id":"77c3e142.8cdf9","type":"inject","z":"806988c4.3acf58","name":"Read","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":205.5,"y":368.00013732910156,"wires":[["3cd1603f.47c1f"]]},{"id":"f05a868.550db78","type":"debug","z":"806988c4.3acf58","name":"","active":true,"console":"false","complete":"false","x":844.5000152587891,"y":334.0000762939453,"wires":[]},{"id":"8618cbf7.780948","type":"inject","z":"806988c4.3acf58","name":"New variable (Int32)","topic":"ns=4;s=TestInt32;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":300.5000762939453,"y":50,"wires":[["5d7fc3f3.4a71cc","2f0bde9a.e8b2e2"]]},{"id":"2f0bde9a.e8b2e2","type":"debug","z":"806988c4.3acf58","name":"","active":true,"console":"false","complete":"true","x":820.5000152587891,"y":47.00000762939453,"wires":[]},{"id":"599521e0.86c5e","type":"inject","z":"806988c4.3acf58","name":"","topic":"ns=4;s=TestInt32;datatype=Int32","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":293.5000457763672,"y":434.00013732910156,"wires":[["9c01b56.5eb1448"]]},{"id":"5897db88.5995c4","type":"OpcUa-Client","z":"806988c4.3acf58","endpoint":"a1a59169.2d518","action":"write","time":10,"timeUnit":"s","name":"","x":604.2000274658203,"y":307.4001007080078,"wires":[["f05a868.550db78"]]},{"id":"40452b2b.014764","type":"OpcUa-Item","z":"806988c4.3acf58","item":"ns=4;s=TestInt32","datatype":"Int32","value":"1234","name":"","x":362.2000274658203,"y":310.0000762939453,"wires":[["5897db88.5995c4"]]},{"id":"93bd7b47.87d888","type":"inject","z":"806988c4.3acf58","name":"Write","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":203.20001220703125,"y":311.0000762939453,"wires":[["40452b2b.014764"]]},{"id":"fe18240c.116f48","type":"inject","z":"806988c4.3acf58","name":"New variable (UInt16)","topic":"ns=4;s=TestInt16;datatype=UInt16","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":295.2000274658203,"y":91.19999694824219,"wires":[["5d7fc3f3.4a71cc"]]},{"id":"b7f5b56a.f3ba28","type":"inject","z":"806988c4.3acf58","name":"addFolder (DynamicFolder)","topic":"ns=4;s=DynamicFolder","payload":"{ \"opcuaCommand\": \"addFolder\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":285.2000274658203,"y":133.1999969482422,"wires":[["5d7fc3f3.4a71cc"]]},{"id":"6b0c9e6a.e32e7","type":"inject","z":"806988c4.3acf58","name":"New variable (Boolean)","topic":"ns=4;s=TestBoolean;datatype=Boolean","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":298.2000274658203,"y":175.1999969482422,"wires":[["5d7fc3f3.4a71cc"]]},{"id":"cbb1c7f4.fddf28","type":"inject","z":"806988c4.3acf58","name":"setFolder (VendorName)","topic":"ns=4;s=VendorName","payload":"{ \"opcuaCommand\": \"setFolder\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":290.2000274658203,"y":212.1999969482422,"wires":[["5d7fc3f3.4a71cc"]]},{"id":"873463d6.a47cf","type":"inject","z":"806988c4.3acf58","name":"New variable (Counter2)","topic":"ns=4;s=Counter2;datatype=UInt32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":288.2000274658203,"y":255.1999969482422,"wires":[["5d7fc3f3.4a71cc"]]}]