examples/OPCUA-TEST-NODES.json
[{"id":"5d665294.f65f14","type":"tab","label":"Test Nodes"},{"id":"d7182ea9.e00808","type":"tab","label":"Test Types (read)"},{"id":"1e3cc08d.354f27","type":"tab","label":"Test Types (write)"},{"id":"f555c05.a35cec","type":"tab","label":"Reconnect"},{"id":"b4792f36.7b37e","type":"tab","label":"NodeRed UA-Server"},{"id":"66b8e235.661ef4","type":"OpcUa-Endpoint","z":"5d665294.f65f14","endpoint":"opc.tcp://TREL16087112:53530/OPCUA/SimulationServer","secpol":"None","secmode":"NONE","login":false},{"id":"7bcd5c43.6a2bbc","type":"OpcUa-Endpoint","z":"d7182ea9.e00808","endpoint":"opc.tcp://TREL16087112:53530/OPCUA/SimulationServer","secpol":"None","secmode":"NONE","login":false},{"id":"ab61e033.9939b","type":"OpcUa-Endpoint","z":"1e3cc08d.354f27","endpoint":"opc.tcp://TREL16087112:53530/OPCUA/SimulationServer","secpol":"None","secmode":"NONE","login":false},{"id":"4885da78.65011c","type":"OpcUa-Endpoint","z":"f555c05.a35cec","endpoint":"opc.tcp://TREL16087112:53530/OPCUA/SimulationServer","secpol":"None","secmode":"NONE","login":false},{"id":"2f77a560.9a2122","type":"OpcUa-Client","z":"5d665294.f65f14","endpoint":"66b8e235.661ef4","action":"read","time":10,"timeUnit":"s","name":"ProSys SimServer","x":644.5,"y":93.39999389648438,"wires":[["d73a7c78.5d6a8"]]},{"id":"686d6889.fc866","type":"OpcUa-Item","z":"5d665294.f65f14","item":"ns=3;s=DoubleDataItem","datatype":"Double","value":"","name":"Static Double","x":436.5,"y":95.80000305175781,"wires":[["2f77a560.9a2122"]]},{"id":"d73a7c78.5d6a8","type":"debug","z":"5d665294.f65f14","name":"","active":false,"console":"false","complete":"false","x":874.4999847412109,"y":92.19999694824219,"wires":[]},{"id":"1aab2492.15ae8b","type":"inject","z":"5d665294.f65f14","name":"Test Double","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":238.49998474121094,"y":96,"wires":[["686d6889.fc866"]]},{"id":"80b93d24.8ab3e","type":"OpcUa-Item","z":"5d665294.f65f14","item":"ns=5;s=Counter1","datatype":"Int32","value":"","name":"Static Double","x":435.20001220703125,"y":150.1999969482422,"wires":[["701ea54b.9b3004"]]},{"id":"1e784905.9b2917","type":"inject","z":"5d665294.f65f14","name":"Test Counter","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":237.1999969482422,"y":150.39999389648438,"wires":[["80b93d24.8ab3e"]]},{"id":"ed3d19b.dec8fe8","type":"comment","z":"5d665294.f65f14","name":"READ","info":"","x":55,"y":97.80000305175781,"wires":[]},{"id":"701ea54b.9b3004","type":"OpcUa-Client","z":"5d665294.f65f14","endpoint":"66b8e235.661ef4","action":"subscribe","time":"1","timeUnit":"s","name":"ProSys SimServer","x":644.2000122070312,"y":150.1999969482422,"wires":[["d73a7c78.5d6a8"]]},{"id":"96271f60.7cd7e","type":"comment","z":"5d665294.f65f14","name":"SUBS","info":"","x":60,"y":149.1999969482422,"wires":[]},{"id":"dda5a3cd.80551","type":"inject","z":"5d665294.f65f14","name":"Test Counter","topic":"ns=5;s=Counter1","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":238.1999969482422,"y":218.39999389648438,"wires":[["ceea2b6d.5d6e18"]]},{"id":"ceea2b6d.5d6e18","type":"OpcUa-Client","z":"5d665294.f65f14","endpoint":"66b8e235.661ef4","action":"unsubscribe","time":"1","timeUnit":"s","name":"ProSys SimServer","x":645.2000122070312,"y":218.1999969482422,"wires":[["d73a7c78.5d6a8"]]},{"id":"cb7d1c2a.8b51e8","type":"comment","z":"5d665294.f65f14","name":"UNSUBS","info":"Here is some kind of bug.","x":72,"y":216.1999969482422,"wires":[]},{"id":"b34b35e6.5607f","type":"comment","z":"5d665294.f65f14","name":"NOT OK","info":"SubscriptionId seems to be 2 instances","x":853.4999847412109,"y":219.8000030517578,"wires":[]},{"id":"2d575794.38904","type":"OpcUa-Browser","z":"5d665294.f65f14","endpoint":"66b8e235.661ef4","item":"","datatype":"","topic":"ns=3;s=DataItems","items":[],"x":642.5,"y":317,"wires":[["b1337841.81e3a8"]]},{"id":"7ebabc51.3ca214","type":"inject","z":"5d665294.f65f14","name":"Test Browse","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":220.1999969482422,"y":319.20001220703125,"wires":[["2d575794.38904"]]},{"id":"b1337841.81e3a8","type":"debug","z":"5d665294.f65f14","name":"","active":true,"console":"false","complete":"false","x":867.2000122070312,"y":318.20001220703125,"wires":[]},{"id":"d72f52a6.35fa3","type":"OpcUa-Event","z":"5d665294.f65f14","root":"i=2253","eventtype":"i=2041","name":"Events","x":549.4999847412109,"y":499.1999969482422,"wires":[[]]},{"id":"96c3ea4c.7897e8","type":"inject","z":"5d665294.f65f14","name":"Test Events","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":374.20001220703125,"y":498.20001220703125,"wires":[["d72f52a6.35fa3"]]},{"id":"72bf1166.4c3918","type":"OpcUa-Client","z":"d7182ea9.e00808","endpoint":"66b8e235.661ef4","action":"read","time":10,"timeUnit":"s","name":"ProSys SimServer","x":545.2000122070312,"y":127.19999694824219,"wires":[["248f392d.f33626"]]},{"id":"c8892da5.49071","type":"OpcUa-Item","z":"d7182ea9.e00808","item":"ns=3;s=Int16DataItem","datatype":"Int16","value":"","name":"Int16","x":317.20001220703125,"y":129.60000610351562,"wires":[["72bf1166.4c3918"]]},{"id":"248f392d.f33626","type":"debug","z":"d7182ea9.e00808","name":"","active":true,"console":"false","complete":"false","x":775.1999969482422,"y":126,"wires":[]},{"id":"934bc3eb.645808","type":"inject","z":"d7182ea9.e00808","name":"Test","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":119.19999694824219,"y":129.8000030517578,"wires":[["c8892da5.49071"]]},{"id":"16d988e9.84835f","type":"OpcUa-Client","z":"d7182ea9.e00808","endpoint":"66b8e235.661ef4","action":"read","time":10,"timeUnit":"s","name":"ProSys SimServer","x":545.2000122070312,"y":176.1999969482422,"wires":[["f0373b6c.fd5628"]]},{"id":"885583d4.26723","type":"OpcUa-Item","z":"d7182ea9.e00808","item":"ns=3;s=Int32DataItem","datatype":"Int32","value":"","name":"Int32","x":317.20001220703125,"y":178.60000610351562,"wires":[["16d988e9.84835f"]]},{"id":"f0373b6c.fd5628","type":"debug","z":"d7182ea9.e00808","name":"","active":true,"console":"false","complete":"false","x":775.1999969482422,"y":175,"wires":[]},{"id":"5bd3b1cb.dcc2","type":"inject","z":"d7182ea9.e00808","name":"Test","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":119.19999694824219,"y":178.8000030517578,"wires":[["885583d4.26723"]]},{"id":"76798081.5b34e","type":"OpcUa-Client","z":"d7182ea9.e00808","endpoint":"66b8e235.661ef4","action":"read","time":10,"timeUnit":"s","name":"ProSys SimServer","x":543.2000122070312,"y":270.20001220703125,"wires":[["95e43d78.986f6"]]},{"id":"cc0d434b.bece08","type":"OpcUa-Item","z":"d7182ea9.e00808","item":"ns=3;s=UInt16DataItem","datatype":"UInt16","value":"","name":"UInt16","x":315.20001220703125,"y":272.6000213623047,"wires":[["76798081.5b34e"]]},{"id":"95e43d78.986f6","type":"debug","z":"d7182ea9.e00808","name":"","active":true,"console":"false","complete":"false","x":773.1999969482422,"y":269.00001525878906,"wires":[]},{"id":"6f9c2c2f.943d7c","type":"inject","z":"d7182ea9.e00808","name":"Test","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":117.19999694824219,"y":272.8000183105469,"wires":[["cc0d434b.bece08"]]},{"id":"7fc6eab5.a7fc5c","type":"OpcUa-Client","z":"d7182ea9.e00808","endpoint":"66b8e235.661ef4","action":"read","time":10,"timeUnit":"s","name":"ProSys SimServer","x":543.2000122070312,"y":315.20001220703125,"wires":[["1c458773.653431"]]},{"id":"f993cab5.9c46e8","type":"OpcUa-Item","z":"d7182ea9.e00808","item":"ns=3;s=UInt32DataItem","datatype":"UInt32","value":"","name":"UInt32","x":315.20001220703125,"y":317.6000213623047,"wires":[["7fc6eab5.a7fc5c"]]},{"id":"1c458773.653431","type":"debug","z":"d7182ea9.e00808","name":"","active":true,"console":"false","complete":"false","x":773.1999969482422,"y":314.00001525878906,"wires":[]},{"id":"7f681456.a66e3c","type":"inject","z":"d7182ea9.e00808","name":"Test","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":117.19999694824219,"y":317.8000183105469,"wires":[["f993cab5.9c46e8"]]},{"id":"a7b3aa44.d06408","type":"OpcUa-Client","z":"d7182ea9.e00808","endpoint":"66b8e235.661ef4","action":"read","time":10,"timeUnit":"s","name":"ProSys SimServer","x":543.2000274658203,"y":225.19998168945312,"wires":[["7799c4fb.b8e574"]]},{"id":"3e4df471.92dafc","type":"OpcUa-Item","z":"d7182ea9.e00808","item":"ns=3;s=ByteDataItem","datatype":"Byte","value":"","name":"Byte","x":315.2000274658203,"y":227.59999084472656,"wires":[["a7b3aa44.d06408"]]},{"id":"7799c4fb.b8e574","type":"debug","z":"d7182ea9.e00808","name":"","active":true,"console":"false","complete":"false","x":773.2000122070312,"y":223.99998474121094,"wires":[]},{"id":"51e1b6.4260ae4c","type":"inject","z":"d7182ea9.e00808","name":"Test","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":117.20001220703125,"y":227.79998779296875,"wires":[["3e4df471.92dafc"]]},{"id":"94caa3a.183c7e","type":"OpcUa-Client","z":"d7182ea9.e00808","endpoint":"66b8e235.661ef4","action":"read","time":10,"timeUnit":"s","name":"ProSys SimServer","x":547.0000152587891,"y":411.20001220703125,"wires":[["408b3f1d.24f9a8"]]},{"id":"17203c52.bf3dd4","type":"OpcUa-Item","z":"d7182ea9.e00808","item":"ns=3;s=FloatDataItem","datatype":"Float","value":"","name":"Float","x":319.00001525878906,"y":413.6000213623047,"wires":[["94caa3a.183c7e"]]},{"id":"408b3f1d.24f9a8","type":"debug","z":"d7182ea9.e00808","name":"","active":true,"console":"false","complete":"false","x":777,"y":410.00001525878906,"wires":[]},{"id":"fee92faf.37b138","type":"inject","z":"d7182ea9.e00808","name":"Test","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":121,"y":413.8000183105469,"wires":[["17203c52.bf3dd4"]]},{"id":"2f502838.2cb568","type":"OpcUa-Client","z":"d7182ea9.e00808","endpoint":"66b8e235.661ef4","action":"read","time":10,"timeUnit":"s","name":"ProSys SimServer","x":545.0000152587891,"y":454.20001220703125,"wires":[["4ac24a08.7523fc"]]},{"id":"58c6c0f1.9b72b8","type":"OpcUa-Item","z":"d7182ea9.e00808","item":"ns=3;s=DoubleDataItem","datatype":"Double","value":"","name":"Double","x":327.00001525878906,"y":456.6000213623047,"wires":[["2f502838.2cb568"]]},{"id":"4ac24a08.7523fc","type":"debug","z":"d7182ea9.e00808","name":"","active":true,"console":"false","complete":"false","x":775,"y":453.00001525878906,"wires":[]},{"id":"6d3e0c21.b6bf64","type":"inject","z":"d7182ea9.e00808","name":"Test","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":119,"y":456.8000183105469,"wires":[["58c6c0f1.9b72b8"]]},{"id":"3e12a573.a447ba","type":"OpcUa-Client","z":"d7182ea9.e00808","endpoint":"66b8e235.661ef4","action":"read","time":10,"timeUnit":"s","name":"ProSys SimServer","x":541.2000122070312,"y":501.20001220703125,"wires":[["4582fd00.ca1174"]]},{"id":"c174a199.7950a8","type":"OpcUa-Item","z":"d7182ea9.e00808","item":"ns=3;s=BooleanDataItem","datatype":"Boolean","value":"","name":"Boolean","x":323.20001220703125,"y":503.6000213623047,"wires":[["3e12a573.a447ba"]]},{"id":"4582fd00.ca1174","type":"debug","z":"d7182ea9.e00808","name":"","active":true,"console":"false","complete":"false","x":771.1999969482422,"y":500.00001525878906,"wires":[]},{"id":"921028ed.7c009","type":"inject","z":"d7182ea9.e00808","name":"Test","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":115.19999694824219,"y":503.8000183105469,"wires":[["c174a199.7950a8"]]},{"id":"ccf1c24f.5372c8","type":"OpcUa-Client","z":"d7182ea9.e00808","endpoint":"66b8e235.661ef4","action":"read","time":10,"timeUnit":"s","name":"ProSys SimServer","x":539.2000122070312,"y":548.2000122070312,"wires":[["dfd32764.c362b"]]},{"id":"a585eeb7.3f5c6","type":"OpcUa-Item","z":"d7182ea9.e00808","item":"ns=3;s=StringDataItem","datatype":"String","value":"","name":"String","x":311.20001220703125,"y":550.6000213623047,"wires":[["ccf1c24f.5372c8"]]},{"id":"dfd32764.c362b","type":"debug","z":"d7182ea9.e00808","name":"","active":true,"console":"false","complete":"false","x":769.1999969482422,"y":547.0000152587891,"wires":[]},{"id":"9bbeaa79.980878","type":"inject","z":"d7182ea9.e00808","name":"Test","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":113.19999694824219,"y":550.8000183105469,"wires":[["a585eeb7.3f5c6"]]},{"id":"c115fba.b100988","type":"OpcUa-Client","z":"d7182ea9.e00808","endpoint":"7bcd5c43.6a2bbc","action":"read","time":10,"timeUnit":"s","name":"ProSys SimServer","x":544.0000152587891,"y":74.19999694824219,"wires":[["7f7bcf.5a1d343"]]},{"id":"2ee23b61.245d64","type":"OpcUa-Item","z":"d7182ea9.e00808","item":"ns=3;s=SByteDataItem","datatype":"SByte","value":"","name":"SByte","x":316.00001525878906,"y":76.60000610351562,"wires":[["c115fba.b100988"]]},{"id":"7f7bcf.5a1d343","type":"debug","z":"d7182ea9.e00808","name":"","active":true,"console":"false","complete":"false","x":774,"y":73,"wires":[]},{"id":"1e880c10.bae42c","type":"inject","z":"d7182ea9.e00808","name":"Test","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":118,"y":76.80000305175781,"wires":[["2ee23b61.245d64"]]},{"id":"f92008a2.f60398","type":"comment","z":"d7182ea9.e00808","name":"NOTE: int8==sbyte and uint8==byte","info":"","x":245.49998474121094,"y":32.80000305175781,"wires":[]},{"id":"19b8714f.7fe377","type":"OpcUa-Client","z":"5d665294.f65f14","endpoint":"66b8e235.661ef4","action":"write","time":10,"timeUnit":"s","name":"ProSys SimServer","x":654.2000122070312,"y":562.2000122070312,"wires":[["3225dbe.1fa1c24"]]},{"id":"470d3fde.815968","type":"OpcUa-Item","z":"5d665294.f65f14","item":"ns=3;s=DoubleDataItem","datatype":"Double","value":"","name":"Static Double","x":446.20001220703125,"y":564.6000213623047,"wires":[["19b8714f.7fe377"]]},{"id":"3225dbe.1fa1c24","type":"debug","z":"5d665294.f65f14","name":"","active":true,"console":"false","complete":"false","x":884.1999969482422,"y":561.0000152587891,"wires":[]},{"id":"cc48a416.6bc29","type":"inject","z":"5d665294.f65f14","name":"Test Double","topic":"","payload":"11.1","payloadType":"num","repeat":"","crontab":"","once":false,"x":248.1999969482422,"y":564.8000183105469,"wires":[["470d3fde.815968"]]},{"id":"e9033cbe.b8305","type":"comment","z":"5d665294.f65f14","name":"WRITE","info":"","x":64.70001220703125,"y":566.6000213623047,"wires":[]},{"id":"38559f2f.a08b48","type":"OpcUa-Client","z":"5d665294.f65f14","endpoint":"66b8e235.661ef4","action":"info","time":10,"timeUnit":"s","name":"ProSys SimServer","x":649.2000122070312,"y":613,"wires":[["ad1d01dd.4581"]]},{"id":"2d7f1188.94d98e","type":"OpcUa-Item","z":"5d665294.f65f14","item":"ns=3;s=DoubleDataItem","datatype":"Double","value":"","name":"Static Double","x":441.20001220703125,"y":615.4000091552734,"wires":[["38559f2f.a08b48"]]},{"id":"ad1d01dd.4581","type":"debug","z":"5d665294.f65f14","name":"","active":true,"console":"false","complete":"false","x":879.1999969482422,"y":611.8000030517578,"wires":[]},{"id":"c368999e.5f0fc","type":"inject","z":"5d665294.f65f14","name":"Test Double","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":243.1999969482422,"y":615.6000061035156,"wires":[["2d7f1188.94d98e"]]},{"id":"25fa89e6.343aee","type":"comment","z":"5d665294.f65f14","name":"INFO","info":"","x":59.70001220703125,"y":617.4000091552734,"wires":[]},{"id":"63d321dd.be1c98","type":"OpcUa-Item","z":"1e3cc08d.354f27","item":"ns=3;s=Int16DataItem","datatype":"Int16","value":"","name":"Int16","x":317.20001220703125,"y":132,"wires":[["8044bcb1.5f77c8"]]},{"id":"aa41e0a4.253af","type":"inject","z":"1e3cc08d.354f27","name":"Test","topic":"","payload":"-16","payloadType":"str","repeat":"","crontab":"","once":false,"x":119.19999694824219,"y":132.1999969482422,"wires":[["63d321dd.be1c98"]]},{"id":"505a236.3d47b5c","type":"OpcUa-Item","z":"1e3cc08d.354f27","item":"ns=3;s=Int32DataItem","datatype":"Int32","value":"","name":"Int32","x":317.20001220703125,"y":181,"wires":[["8044bcb1.5f77c8"]]},{"id":"bdf937e4.564b","type":"inject","z":"1e3cc08d.354f27","name":"Test","topic":"","payload":"-32","payloadType":"str","repeat":"","crontab":"","once":false,"x":119.19999694824219,"y":181.1999969482422,"wires":[["505a236.3d47b5c"]]},{"id":"53c2af1d.d7a8b","type":"OpcUa-Item","z":"1e3cc08d.354f27","item":"ns=3;s=UInt16DataItem","datatype":"UInt16","value":"","name":"UInt16","x":315.20001220703125,"y":275.00001525878906,"wires":[["8044bcb1.5f77c8"]]},{"id":"81dc85bc.8a6d38","type":"inject","z":"1e3cc08d.354f27","name":"Test","topic":"","payload":"16","payloadType":"str","repeat":"","crontab":"","once":false,"x":117.19999694824219,"y":275.20001220703125,"wires":[["53c2af1d.d7a8b"]]},{"id":"54d7e2f3.85fc64","type":"OpcUa-Item","z":"1e3cc08d.354f27","item":"ns=3;s=UInt32DataItem","datatype":"UInt32","value":"","name":"UInt32","x":315.20001220703125,"y":320.00001525878906,"wires":[["8044bcb1.5f77c8"]]},{"id":"136da5e8.f49c32","type":"inject","z":"1e3cc08d.354f27","name":"Test","topic":"","payload":"32","payloadType":"str","repeat":"","crontab":"","once":false,"x":117.19999694824219,"y":320.20001220703125,"wires":[["54d7e2f3.85fc64"]]},{"id":"963adb5f.6ca3b","type":"OpcUa-Item","z":"1e3cc08d.354f27","item":"ns=3;s=ByteDataItem","datatype":"Byte","value":"","name":"Byte","x":315.2000274658203,"y":229.99998474121094,"wires":[["8044bcb1.5f77c8"]]},{"id":"82bae59e.a45de8","type":"inject","z":"1e3cc08d.354f27","name":"Test","topic":"","payload":"8","payloadType":"str","repeat":"","crontab":"","once":false,"x":117.20001220703125,"y":230.19998168945312,"wires":[["963adb5f.6ca3b"]]},{"id":"15eb1115.6e3847","type":"OpcUa-Item","z":"1e3cc08d.354f27","item":"ns=3;s=FloatDataItem","datatype":"Float","value":"","name":"Float","x":319.00001525878906,"y":416.00001525878906,"wires":[["8044bcb1.5f77c8"]]},{"id":"ce591d78.d9c158","type":"inject","z":"1e3cc08d.354f27","name":"Test","topic":"","payload":"1.1","payloadType":"str","repeat":"","crontab":"","once":false,"x":121,"y":416.20001220703125,"wires":[["15eb1115.6e3847"]]},{"id":"43773671.d900e8","type":"OpcUa-Item","z":"1e3cc08d.354f27","item":"ns=3;s=DoubleDataItem","datatype":"Double","value":"","name":"Double","x":327.00001525878906,"y":459.00001525878906,"wires":[["8044bcb1.5f77c8"]]},{"id":"bd224bbc.e093d","type":"inject","z":"1e3cc08d.354f27","name":"Test","topic":"","payload":"2.2","payloadType":"str","repeat":"","crontab":"","once":false,"x":119,"y":459.20001220703125,"wires":[["43773671.d900e8"]]},{"id":"35b23823.1a4698","type":"OpcUa-Item","z":"1e3cc08d.354f27","item":"ns=3;s=BooleanDataItem","datatype":"Boolean","value":"","name":"Boolean","x":323.20001220703125,"y":506.00001525878906,"wires":[["8044bcb1.5f77c8"]]},{"id":"5c30c181.faebf8","type":"inject","z":"1e3cc08d.354f27","name":"Test","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":115.19999694824219,"y":506.20001220703125,"wires":[["35b23823.1a4698"]]},{"id":"119e02e7.f42df5","type":"OpcUa-Item","z":"1e3cc08d.354f27","item":"ns=3;s=StringDataItem","datatype":"String","value":"","name":"String","x":311.20001220703125,"y":553.0000152587891,"wires":[["8044bcb1.5f77c8"]]},{"id":"d14af853.2bd4a","type":"inject","z":"1e3cc08d.354f27","name":"Test","topic":"","payload":"Test","payloadType":"str","repeat":"","crontab":"","once":false,"x":113.19999694824219,"y":553.2000122070312,"wires":[["119e02e7.f42df5"]]},{"id":"8044bcb1.5f77c8","type":"OpcUa-Client","z":"1e3cc08d.354f27","endpoint":"ab61e033.9939b","action":"write","time":10,"timeUnit":"s","name":"ProSys SimServer","x":609,"y":335.60003662109375,"wires":[["acc97c7f.9e6eb"]]},{"id":"84d545de.88b828","type":"OpcUa-Item","z":"1e3cc08d.354f27","item":"ns=3;s=SByteDataItem","datatype":"SByte","value":"","name":"SByte","x":316.00001525878906,"y":79,"wires":[["8044bcb1.5f77c8"]]},{"id":"acc97c7f.9e6eb","type":"debug","z":"1e3cc08d.354f27","name":"","active":true,"console":"false","complete":"false","x":839,"y":331.40000915527344,"wires":[]},{"id":"f9cae631.0b875","type":"inject","z":"1e3cc08d.354f27","name":"Test","topic":"","payload":"-8","payloadType":"str","repeat":"","crontab":"","once":false,"x":118,"y":79.19999694824219,"wires":[["84d545de.88b828"]]},{"id":"a86527c.3ea5fd8","type":"comment","z":"1e3cc08d.354f27","name":"NOTE: int8==sbyte and uint8==byte","info":"","x":245.49998474121094,"y":35.19999694824219,"wires":[]},{"id":"6dc7f81e.bfaff8","type":"OpcUa-Client","z":"f555c05.a35cec","endpoint":"4885da78.65011c","action":"read","time":10,"timeUnit":"s","name":"","x":559.5,"y":145.59999084472656,"wires":[["5fd1a1b9.8ca57"]]},{"id":"5fd1a1b9.8ca57","type":"debug","z":"f555c05.a35cec","name":"","active":true,"console":"false","complete":"false","x":815.5,"y":147.39999389648438,"wires":[]},{"id":"5e0698a5.fab678","type":"inject","z":"f555c05.a35cec","name":"ProSys","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":109.5,"y":94,"wires":[["19a957aa.4ef46"]]},{"id":"4285ebb4.5d47c4","type":"inject","z":"f555c05.a35cec","name":"Test Server2","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":131.1999969482422,"y":223.1999969482422,"wires":[["a93afbff.01d608"]]},{"id":"19a957aa.4ef46","type":"function","z":"f555c05.a35cec","name":"ProSys params","func":"msg.topic=\"Reconnect\";\nmsg.action=\"reconnect\";\nmsg.OpcUaEndpoint = {\n    credentials: {},\n    endpoint: 'opc.tcp://TREL16087112:53530/OPCUA/SimulationServer',\n    securityPolicy: 'None',\n    securityMode: 'NONE',\n    login: false,\n    user: undefined,\n    password: undefined \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":283.49998474121094,"y":95.19999694824219,"wires":[["6dc7f81e.bfaff8"]]},{"id":"a93afbff.01d608","type":"function","z":"f555c05.a35cec","name":"Server2 params","func":"msg.topic=\"Reconnect\";\nmsg.action=\"reconnect\";\nmsg.OpcUaEndpoint = {\n    credentials: {},\n    endpoint: 'opc.tcp://127.0.0.1:4840/simulation/',\n    securityPolicy: 'None',\n    securityMode: 'NONE',\n    login: false,\n    user: undefined,\n    password: undefined \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":314.20001220703125,"y":221.1999969482422,"wires":[["6dc7f81e.bfaff8"]]},{"id":"492d4ed6.841f38","type":"OpcUa-Item","z":"f555c05.a35cec","item":"ns=3;s=SByteDataItem","datatype":"SByte","value":"","name":"SByte","x":306.0000305175781,"y":143.1999969482422,"wires":[["6dc7f81e.bfaff8"]]},{"id":"a1c4ea0d.b1fff","type":"inject","z":"f555c05.a35cec","name":"Test","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":108.00001525878906,"y":143.39999389648438,"wires":[["492d4ed6.841f38"]]},{"id":"ee7e4b5d.1bf0b8","type":"OpcUa-Item","z":"f555c05.a35cec","item":"ns=2;i=2","datatype":"Float","value":"","name":"Float","x":348.20001220703125,"y":282.20001220703125,"wires":[["6dc7f81e.bfaff8"]]},{"id":"6b8d3577.7c34e4","type":"inject","z":"f555c05.a35cec","name":"Test","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":150.1999969482422,"y":282.40000915527344,"wires":[["ee7e4b5d.1bf0b8"]]},{"id":"ab08549b.86da7","type":"OpcUa-Server","z":"b4792f36.7b37e","port":"53880","name":"LocalServer","endpoint":"","x":424.20001220703125,"y":127.19999694824219,"wires":[[]]}]