examples/OPCUA-CONNECT.json
[{"id":"daa92e5e84ddafa5","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"1b1425813f5ea7f6","type":"OpcUa-Endpoint","endpoint":"opc.tcp://H7Q8Q13.mshome.net:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","none":true,"login":false,"usercert":false,"usercertificate":"","userprivatekey":""},{"id":"ee3e5f5ab7f8fe63","type":"OpcUa-Client","z":"daa92e5e84ddafa5","endpoint":"1b1425813f5ea7f6","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":640,"y":200,"wires":[["7d952baa01dd4d0c"]]},{"id":"1f851a22b94557d2","type":"OpcUa-Item","z":"daa92e5e84ddafa5","item":"ns=3;i=1001","datatype":"Double","value":"","name":"Counter","x":400,"y":200,"wires":[["ee3e5f5ab7f8fe63"]]},{"id":"f9bdafdd3f5b809e","type":"inject","z":"daa92e5e84ddafa5","name":"Read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":170,"y":200,"wires":[["1f851a22b94557d2"]]},{"id":"a04072c12c7b3f60","type":"inject","z":"daa92e5e84ddafa5","name":"Disconnect","props":[{"p":"action","v":"disconnect","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":240,"y":280,"wires":[["ee3e5f5ab7f8fe63"]]},{"id":"7d952baa01dd4d0c","type":"debug","z":"daa92e5e84ddafa5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":200,"wires":[]},{"id":"f2d2a8573d904c2c","type":"inject","z":"daa92e5e84ddafa5","name":"Connect","props":[{"p":"action","v":"connect","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":280,"y":340,"wires":[["ee3e5f5ab7f8fe63"]]},{"id":"e0cf5a733a0b57a2","type":"inject","z":"daa92e5e84ddafa5","name":"Reconnect","props":[{"p":"action","v":"reconnect","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":320,"y":400,"wires":[["ee3e5f5ab7f8fe63"]]}]