examples/OPCUA-UNSUBSRIBE.json
[{"id":"44761ede.7f94f","type":"tab","label":"Flow 1"},{"id":"d6f8a9e.a8d8758","type":"OpcUa-Endpoint","z":"44761ede.7f94f","endpoint":"opc.tcp://TREL16087112:53530/OPCUA/SimulationServer","secpol":"None","secmode":"NONE","login":false},{"id":"b0585291.e1d11","type":"OpcUa-Client","z":"44761ede.7f94f","endpoint":"d6f8a9e.a8d8758","action":"subscribe","time":"1","timeUnit":"s","name":"Subscribe","x":488.1666564941406,"y":218.06668853759766,"wires":[["daa33632.f69248"]]},{"id":"72a9862a.581d78","type":"OpcUa-Item","z":"44761ede.7f94f","item":"ns=2;s=MyLevel","datatype":"Float","value":"","name":"Level","x":324.1666603088379,"y":215.93335819244385,"wires":[["b0585291.e1d11"]]},{"id":"f73ea168.e9b0a","type":"inject","z":"44761ede.7f94f","name":"SUBSCRIBE","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":151.16665649414062,"y":217.26667022705078,"wires":[["72a9862a.581d78"]]},{"id":"e5a63aea.908478","type":"inject","z":"44761ede.7f94f","name":"UNSUBSCRIBE","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":119.16665649414062,"y":276.26666259765625,"wires":[["7b4b492e.2cba28"]]},{"id":"daa33632.f69248","type":"debug","z":"44761ede.7f94f","name":"","active":true,"console":"false","complete":"false","x":737.1667175292969,"y":211.79999542236328,"wires":[]},{"id":"87e713f2.6471d8","type":"function","z":"44761ede.7f94f","name":"Unsubscribe","func":"msg.action=\"unsubscribe\";\nreturn msg;","outputs":1,"noerr":0,"x":416.5,"y":275.20001220703125,"wires":[["b0585291.e1d11"]]},{"id":"7b4b492e.2cba28","type":"OpcUa-Item","z":"44761ede.7f94f","item":"ns=2;s=MyLevel","datatype":"Float","value":"","name":"Level","x":271.20001220703125,"y":275.20001220703125,"wires":[["87e713f2.6471d8"]]}]