examples/OPCUA-TEST-UNSUB.json
[{"id":"d182dea9.2173a","type":"tab","label":"Subscribe/unsubscribe","disabled":false,"info":""},{"id":"4874e371.af4abc","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://TREL16087112.vstage.co:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false},{"id":"9a848d03.e43d58","type":"inject","z":"d182dea9.2173a","name":"Test subscribe","topic":"","payload":"200","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":153.49998474121094,"y":76,"wires":[["5262ca3f.dc949c"]]},{"id":"5262ca3f.dc949c","type":"OpcUa-Item","z":"d182dea9.2173a","item":"ns=5;s=Counter1","datatype":"Int32","value":"","name":"ns=5;s=Counter1","x":354.9000244140625,"y":75.39999389648438,"wires":[["607dc1bd.9d4748"]]},{"id":"389ba094.cf07d","type":"OpcUa-Client","z":"d182dea9.2173a","endpoint":"4874e371.af4abc","action":"subscribe","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","name":"","x":713.9000854492188,"y":142,"wires":[["a380cc4a.a5ab68"]]},{"id":"a380cc4a.a5ab68","type":"debug","z":"d182dea9.2173a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":911.5000610351562,"y":139.39999389648438,"wires":[]},{"id":"a253b44e.ae9f6","type":"inject","z":"d182dea9.2173a","name":"Test unsubscribe","topic":"","payload":"200","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":147.1999969482422,"y":208.1999969482422,"wires":[["8e9a8d07.99162"]]},{"id":"8e9a8d07.99162","type":"OpcUa-Item","z":"d182dea9.2173a","item":"ns=5;s=Counter1","datatype":"Int32","value":"","name":"ns=5;s=Counter1","x":343.60003662109375,"y":208.59999084472656,"wires":[["22c6cbe3.b9f9cc"]]},{"id":"22c6cbe3.b9f9cc","type":"function","z":"d182dea9.2173a","name":"Unsubscribe","func":"msg.action=\"unsubscribe\";\nreturn msg;","outputs":1,"noerr":0,"x":525.9000244140625,"y":208.59999084472656,"wires":[["389ba094.cf07d"]]},{"id":"607dc1bd.9d4748","type":"function","z":"d182dea9.2173a","name":"Subscribe","func":"msg.action=\"subscribe\";\nreturn msg;","outputs":1,"noerr":0,"x":532.2000122070312,"y":75.19999694824219,"wires":[["389ba094.cf07d"]]}]