examples/OPCUA-VARIABLE.json
[{"id":"11a578056fc3d56a","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"8a4b4e742a3916ec","type":"OpcUa-Server","z":"11a578056fc3d56a","port":"53881","name":"","endpoint":"","users":"users.json","nodesetDir":"","folderName4PKI":"","autoAcceptUnknownCertificate":true,"registerToDiscovery":false,"constructDefaultAddressSpace":true,"allowAnonymous":true,"endpointNone":true,"endpointSign":true,"endpointSignEncrypt":true,"endpointBasic128Rsa15":true,"endpointBasic256":true,"endpointBasic256Sha256":true,"maxNodesPerBrowse":0,"maxNodesPerHistoryReadData":0,"maxNodesPerHistoryReadEvents":0,"maxNodesPerHistoryUpdateData":0,"maxNodesPerRead":0,"maxNodesPerWrite":0,"maxNodesPerMethodCall":0,"maxNodesPerRegisterNodes":0,"maxNodesPerNodeManagement":0,"maxMonitoredItemsPerCall":0,"maxNodesPerHistoryUpdateEvents":0,"maxNodesPerTranslateBrowsePathsToNodeIds":0,"x":640,"y":140,"wires":[["24ece21aaa3a8d8a"]]},{"id":"2f89c79ea33f7976","type":"inject","z":"11a578056fc3d56a","name":"add TestVariable","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=1;s=TestVariable;datatype=Boolean","payload":"{\"opcuaCommand\": \"addVariable\"}","payloadType":"json","x":300,"y":40,"wires":[["8a4b4e742a3916ec"]]},{"id":"24ece21aaa3a8d8a","type":"debug","z":"11a578056fc3d56a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":940,"y":140,"wires":[]},{"id":"dcd3c29064d3f48c","type":"inject","z":"11a578056fc3d56a","name":"Set TestVariable false","props":[{"p":"payload.messageType","v":"Variable","vt":"str"},{"p":"payload.variableName","v":"TestVariable","vt":"str"},{"p":"payload.datatype","v":"Boolean","vt":"str"},{"p":"payload.namespace","v":"1","vt":"str"},{"p":"payload.variableValue","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":280,"y":100,"wires":[["8a4b4e742a3916ec"]]},{"id":"957057e20f53d587","type":"inject","z":"11a578056fc3d56a","name":"add TestVariable2 (Float)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=1;s=TestVariable2;datatype=Float","payload":"{\"opcuaCommand\": \"addVariable\"}","payloadType":"json","x":290,"y":460,"wires":[["8a4b4e742a3916ec"]]},{"id":"0b118afe42a49f53","type":"inject","z":"11a578056fc3d56a","name":"Set TestVariable2 12.3 + ts + quality (Number)","props":[{"p":"payload.messageType","v":"Variable","vt":"str"},{"p":"payload.variableName","v":"TestVariable2","vt":"str"},{"p":"payload.datatype","v":"Float","vt":"str"},{"p":"payload.namespace","v":"1","vt":"str"},{"p":"payload.variableValue","v":"12.3","vt":"str"},{"p":"payload.sourceTimestamp","v":"2022-05-25T20:36:00Z","vt":"str"},{"p":"payload.quality","v":"2161770496","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":250,"y":540,"wires":[["8a4b4e742a3916ec"]]},{"id":"8536d55d0424da30","type":"inject","z":"11a578056fc3d56a","name":"Set TestVariable \"true\"","props":[{"p":"payload.messageType","v":"Variable","vt":"str"},{"p":"payload.variableName","v":"TestVariable","vt":"str"},{"p":"payload.datatype","v":"Boolean","vt":"str"},{"p":"payload.namespace","v":"1","vt":"str"},{"p":"payload.variableValue","v":"true","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":280,"y":200,"wires":[["8a4b4e742a3916ec"]]},{"id":"a80b65bac7031056","type":"inject","z":"11a578056fc3d56a","name":"Set TestVariable 0 (false)","props":[{"p":"payload.messageType","v":"Variable","vt":"str"},{"p":"payload.variableName","v":"TestVariable","vt":"str"},{"p":"payload.datatype","v":"Boolean","vt":"str"},{"p":"payload.namespace","v":"1","vt":"str"},{"p":"payload.variableValue","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":270,"y":300,"wires":[["8a4b4e742a3916ec"]]},{"id":"8e1d7776f2447bf4","type":"inject","z":"11a578056fc3d56a","name":"Set TestVariable 1 (true)","props":[{"p":"payload.messageType","v":"Variable","vt":"str"},{"p":"payload.variableName","v":"TestVariable","vt":"str"},{"p":"payload.datatype","v":"Boolean","vt":"str"},{"p":"payload.namespace","v":"1","vt":"str"},{"p":"payload.variableValue","v":"1","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":280,"y":340,"wires":[["8a4b4e742a3916ec"]]},{"id":"4dd1d84b6c01f3f3","type":"inject","z":"11a578056fc3d56a","name":"Set TestVariable true","props":[{"p":"payload.messageType","v":"Variable","vt":"str"},{"p":"payload.variableName","v":"TestVariable","vt":"str"},{"p":"payload.datatype","v":"Boolean","vt":"str"},{"p":"payload.namespace","v":"1","vt":"str"},{"p":"payload.variableValue","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":290,"y":140,"wires":[["8a4b4e742a3916ec"]]},{"id":"f427cfa2eb088e8a","type":"inject","z":"11a578056fc3d56a","name":"Set TestVariable \"false\"","props":[{"p":"payload.messageType","v":"Variable","vt":"str"},{"p":"payload.variableName","v":"TestVariable","vt":"str"},{"p":"payload.datatype","v":"Boolean","vt":"str"},{"p":"payload.namespace","v":"1","vt":"str"},{"p":"payload.variableValue","v":"false","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":280,"y":240,"wires":[["8a4b4e742a3916ec"]]},{"id":"eaeea5654fe61dce","type":"inject","z":"11a578056fc3d56a","name":"Set TestVariable2 23.4","props":[{"p":"payload.messageType","v":"Variable","vt":"str"},{"p":"payload.variableName","v":"TestVariable2","vt":"str"},{"p":"payload.datatype","v":"Float","vt":"str"},{"p":"payload.namespace","v":"1","vt":"str"},{"p":"payload.variableValue","v":"23.4","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":280,"y":500,"wires":[["8a4b4e742a3916ec"]]},{"id":"7dd0e0ddd42640ed","type":"comment","z":"11a578056fc3d56a","name":"StatusCodes","info":"Use actual decimal StatusCode value:\nDataLost:                           2147483648\nBadAggregateConfigurationRejected:  2161770496\netc.\n\nLook values from Github node-opcua:\nnode-opcua/packages/node-opcua-status-code/source/_generated_status_codes.ts ","x":250,"y":640,"wires":[]},{"id":"d5bc694f4fff3776","type":"inject","z":"11a578056fc3d56a","name":"Set TestVariable2 34.5 + ts + quality (String)","props":[{"p":"payload.messageType","v":"Variable","vt":"str"},{"p":"payload.variableName","v":"TestVariable2","vt":"str"},{"p":"payload.datatype","v":"Float","vt":"str"},{"p":"payload.namespace","v":"1","vt":"str"},{"p":"payload.variableValue","v":"34.5","vt":"str"},{"p":"payload.sourceTimestamp","v":"2022-05-25T23:47:00Z","vt":"str"},{"p":"payload.quality","v":"UncertainInitialValue","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":250,"y":580,"wires":[["8a4b4e742a3916ec"]]}]