examples/OPCUAServer_Flow.json
[
  {
    "type": "tab",
    "id": "30ded7dc.266628",
    "label": "OPC UA Server"
  },
  {
    "id": "446f5fbe.6a2f5",
    "type": "function",
    "z": "30ded7dc.266628",
    "name": "Translation",
    "func": "msg = { payload : { \"messageType\" : \"Variable\", \"variableName\": \"Counter\", \"variableValue\": msg.payload }};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 306.5,
    "y": 313,
    "wires": [
      [
        "ca2018be.485a88",
        "11682102.b5b9af"
      ]
    ]
  },
  {
    "id": "2505192d.62a3b6",
    "type": "inject",
    "z": "30ded7dc.266628",
    "name": "restartOPCUAServer",
    "topic": "",
    "payload": "{ \"opcuaCommand\": \"restartOPCUAServer\" }",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 288,
    "y": 379,
    "wires": [
      [
        "11682102.b5b9af"
      ]
    ]
  },
  {
    "id": "bc372e70.a26b9",
    "type": "inject",
    "z": "30ded7dc.266628",
    "name": "addEquipment",
    "topic": "",
    "payload": "{ \"opcuaCommand\": \"addEquipment\", \"nodeName\": \"Machine\" }",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 297,
    "y": 421,
    "wires": [
      [
        "11682102.b5b9af"
      ]
    ]
  },
  {
    "id": "80c2cece.aa922",
    "type": "inject",
    "z": "30ded7dc.266628",
    "name": "deleteNode PhysicalAsset2",
    "topic": "",
    "payload": "{ \"opcuaCommand\": \"deleteNode\", \"nodeId\": \"ns=4;s=PhysicalAsset2\" }",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 257,
    "y": 464,
    "wires": [
      [
        "11682102.b5b9af"
      ]
    ]
  },
  {
    "id": "8e45ca73.8181b8",
    "type": "inject",
    "z": "30ded7dc.266628",
    "name": "addPhysicalAsset",
    "topic": "",
    "payload": "{ \"opcuaCommand\": \"addPhysicalAsset\", \"nodeName\": \"PhysicalAsset\" }",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 285.5,
    "y": 505,
    "wires": [
      [
        "11682102.b5b9af"
      ]
    ]
  },
  {
    "id": "940275a6.743d68",
    "type": "inject",
    "z": "30ded7dc.266628",
    "name": "addPerson",
    "topic": "",
    "payload": "{ \"opcuaCommand\": \"addPerson\", \"nodeName\": \"Person\" }",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 315,
    "y": 546,
    "wires": [
      [
        "11682102.b5b9af"
      ]
    ]
  },
  {
    "id": "ca2018be.485a88",
    "type": "debug",
    "z": "30ded7dc.266628",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 784.5,
    "y": 313,
    "wires": []
  },
  {
    "id": "11682102.b5b9af",
    "type": "OpcUaServer",
    "z": "30ded7dc.266628",
    "port": "53880",
    "name": "",
    "x": 563.5,
    "y": 422,
    "wires": [
      [
        "ca2018be.485a88"
      ]
    ]
  },
  {
    "id": "e84c479e.595818",
    "type": "inject",
    "z": "30ded7dc.266628",
    "name": "",
    "topic": "",
    "payload": "12",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 131.5,
    "y": 313,
    "wires": [
      [
        "446f5fbe.6a2f5"
      ]
    ]
  }
]