examples/OPCUA-UNSUBSRIBE.json
[{"id":"912800e7.e00308","type":"tab","label":"Flow 1"},{"id":"f297ec1c.ebdd38","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://TREL16087112:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false},{"id":"ee4309c5.7839f8","type":"ui_group","z":"","name":"p1","tab":"a66f0712.01682","disp":true,"width":"6"},{"id":"ae65fb20.a3c57","type":"ui_group","z":"","name":"Général page 1","tab":"a66f0712.01682","disp":true,"width":"6"},{"id":"a66f0712.01682","type":"ui_tab","z":"","name":"PIERRET","icon":"dashboard"},{"id":"66e7f60c.d0d538","type":"OpcUa-Item","z":"912800e7.e00308","item":"ns=5;s=Sawtooth1","datatype":"Double","value":"","name":"","x":266.99998474121094,"y":72.49998474121094,"wires":[["65baf697.e60e8"]]},{"id":"4a6ffc33.00a064","type":"OpcUa-Client","z":"912800e7.e00308","endpoint":"f297ec1c.ebdd38","action":"subscribe","time":"1","timeUnit":"s","name":"","x":478,"y":73.49998474121094,"wires":[["db8a58ba.c390a","aba904c5.89006","af164698.4cd7c8"]]},{"id":"db8a58ba.c390a","type":"debug","z":"912800e7.e00308","name":"","active":false,"console":false,"complete":"false","x":679.7666625976562,"y":132.2500457763672,"wires":[]},{"id":"aba904c5.89006","type":"ui_gauge","z":"912800e7.e00308","name":"","group":"ee4309c5.7839f8","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge p1","label":"bar","format":"{{value}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"x":659.7666625976562,"y":85.65000915527344,"wires":[]},{"id":"af164698.4cd7c8","type":"ui_chart","z":"912800e7.e00308","name":"","group":"ee4309c5.7839f8","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":658.7666625976562,"y":35.71665954589844,"wires":[[],[]]},{"id":"e0b08ded.95663","type":"ui_button","z":"912800e7.e00308","name":"","group":"ae65fb20.a3c57","order":0,"width":0,"height":0,"label":"Subscribe","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":98.99998474121094,"y":71.99998474121094,"wires":[["66e7f60c.d0d538"]]},{"id":"a434f4db.ca9d38","type":"function","z":"912800e7.e00308","name":"Unsubscribe","func":"msg.action=\"unsubscribe\";\nreturn msg;","outputs":1,"noerr":0,"x":435,"y":203.99998474121094,"wires":[["9b25d32c.b536e8","4a6ffc33.00a064"]]},{"id":"b9c9c902.658b48","type":"ui_button","z":"912800e7.e00308","name":"","group":"ee4309c5.7839f8","order":0,"width":0,"height":0,"label":"Unsubscribe","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":94.99998474121094,"y":203.99998474121094,"wires":[["a5c3e4a8.864cd"]]},{"id":"a5c3e4a8.864cd","type":"OpcUa-Item","z":"912800e7.e00308","item":"ns=5;s=Sawtooth1","datatype":"Double","value":"","name":"","x":268.99998474121094,"y":203.00001525878906,"wires":[["a434f4db.ca9d38"]]},{"id":"9b25d32c.b536e8","type":"debug","z":"912800e7.e00308","name":"","active":true,"console":false,"complete":"action","x":680,"y":203.99998474121094,"wires":[]},{"id":"6f1ed402.46c5e4","type":"inject","z":"912800e7.e00308","name":"Test","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":93.5,"y":116,"wires":[["66e7f60c.d0d538"]]},{"id":"c3d8c91d.491198","type":"inject","z":"912800e7.e00308","name":"Test","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":102.19999694824219,"y":249.1999969482422,"wires":[["a5c3e4a8.864cd"]]},{"id":"65baf697.e60e8","type":"function","z":"912800e7.e00308","name":"Subscribe","func":"msg.action=\"subscribe\";\nreturn msg;","outputs":1,"noerr":0,"x":375.20001220703125,"y":27.199996948242188,"wires":[["4a6ffc33.00a064"]]}]