examples/OPCUA-TEST.json
[{"id":"806988c4.3acf58","type":"tab","label":"OPC UA Server"},{"id":"f8b67141.37c5e","type":"tab","label":"Clients"},{"id":"1ca40846.98b2f8","type":"OpcUa-Endpoint","z":"f8b67141.37c5e","endpoint":"opc.tcp://localhost:53880/UA/SimpleNodeRedServer","login":false},{"id":"37bec949.2f5236","type":"debug","z":"806988c4.3acf58","name":"","active":false,"console":"false","complete":"false","x":840.5000152587891,"y":122,"wires":[]},{"id":"5d7fc3f3.4a71cc","type":"OpcUa-Server","z":"806988c4.3acf58","port":"53880","name":"OPC-UA Server","endpoint":"UA/SimpleNodeRedServer","x":635.5000152587891,"y":119,"wires":[["37bec949.2f5236"]]},{"id":"8618cbf7.780948","type":"inject","z":"806988c4.3acf58","name":"New variable (Int32)","topic":"ns=4;s=TestInt32;datatype=Int32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":300.5000762939453,"y":50,"wires":[["5d7fc3f3.4a71cc","2f0bde9a.e8b2e2"]]},{"id":"2f0bde9a.e8b2e2","type":"debug","z":"806988c4.3acf58","name":"","active":false,"console":"false","complete":"true","x":820.5000152587891,"y":47.00000762939453,"wires":[]},{"id":"fe18240c.116f48","type":"inject","z":"806988c4.3acf58","name":"New variable (UInt16)","topic":"ns=4;s=TestInt16;datatype=UInt16","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":295.2000274658203,"y":91.19999694824219,"wires":[["5d7fc3f3.4a71cc"]]},{"id":"b7f5b56a.f3ba28","type":"inject","z":"806988c4.3acf58","name":"addFolder (DynamicFolder)","topic":"ns=4;s=DynamicFolder","payload":"{ \"opcuaCommand\": \"addFolder\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":285.2000274658203,"y":133.1999969482422,"wires":[["5d7fc3f3.4a71cc"]]},{"id":"6b0c9e6a.e32e7","type":"inject","z":"806988c4.3acf58","name":"New variable (Boolean)","topic":"ns=4;s=TestBoolean;datatype=Boolean","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":298.2000274658203,"y":175.1999969482422,"wires":[["5d7fc3f3.4a71cc"]]},{"id":"cbb1c7f4.fddf28","type":"inject","z":"806988c4.3acf58","name":"setFolder (VendorName)","topic":"ns=4;s=VendorName","payload":"{ \"opcuaCommand\": \"setFolder\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":290.2000274658203,"y":212.1999969482422,"wires":[["5d7fc3f3.4a71cc"]]},{"id":"873463d6.a47cf","type":"inject","z":"806988c4.3acf58","name":"New variable (Counter2)","topic":"ns=4;s=Counter2;datatype=UInt32","payload":"{ \"opcuaCommand\": \"addVariable\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":288.2000274658203,"y":255.1999969482422,"wires":[["5d7fc3f3.4a71cc"]]},{"id":"1c7511c0.7c6ebe","type":"OpcUa-Client","z":"f8b67141.37c5e","endpoint":"1ca40846.98b2f8","action":"read","time":10,"timeUnit":"s","name":"READ","x":518.3000030517578,"y":145.1999969482422,"wires":[["bfd044f9.5478e8"]]},{"id":"1d08ae16.1b29a2","type":"OpcUa-Item","z":"f8b67141.37c5e","item":"ns=4;s=TestInt32","datatype":"Int32","value":"","name":"","x":303.3000183105469,"y":146.6000213623047,"wires":[["1c7511c0.7c6ebe"]]},{"id":"a4cb0bb3.f48108","type":"inject","z":"f8b67141.37c5e","name":"Read","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":150.29998779296875,"y":145.8000946044922,"wires":[["1d08ae16.1b29a2"]]},{"id":"bfd044f9.5478e8","type":"debug","z":"f8b67141.37c5e","name":"","active":true,"console":"false","complete":"false","x":697.3000030517578,"y":114.80003356933594,"wires":[]},{"id":"ad68e5ec.3a26e8","type":"inject","z":"f8b67141.37c5e","name":"","topic":"ns=4;s=TestInt32;datatype=Int32","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":238.30003356933594,"y":211.8000946044922,"wires":[["1c7511c0.7c6ebe"]]},{"id":"4e55f0c8.6d41c","type":"OpcUa-Client","z":"f8b67141.37c5e","endpoint":"1ca40846.98b2f8","action":"write","time":10,"timeUnit":"s","name":"WRITE ","x":529.0000152587891,"y":85.20005798339844,"wires":[["bfd044f9.5478e8"]]},{"id":"b2b6a7e1.4c72e8","type":"OpcUa-Item","z":"f8b67141.37c5e","item":"ns=4;s=TestInt32","datatype":"Int32","value":"1234","name":"","x":307.00001525878906,"y":87.80003356933594,"wires":[["4e55f0c8.6d41c"]]},{"id":"1af1665c.5f9b3a","type":"inject","z":"f8b67141.37c5e","name":"Write","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":148,"y":88.80003356933594,"wires":[["b2b6a7e1.4c72e8"]]},{"id":"b4ca3322.c00bc","type":"inject","z":"f8b67141.37c5e","name":"","topic":"ns=4;s=TestInt32;datatype=Int32","payload":"5678","payloadType":"str","repeat":"","crontab":"","once":false,"x":354.2000274658203,"y":39.19999694824219,"wires":[["4e55f0c8.6d41c"]]}]