examples/OPCUA-MULTI-SUB.json
[{"id":"7008401a.b94db","type":"tab","label":"Subscribe Multiple","disabled":false,"info":"Code actually uses monitoredItemGroup"},{"id":"68021f9.ba14de","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://localhost:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false},{"id":"bbf28314.1321f","type":"function","z":"7008401a.b94db","name":"NodeId & datatype Array","func":"// Tested with Prosys\nmsg.topic = \"multiple\";\n\nmsg.payload = [];\nmsg.payload.push( \n{\n    // Counter\n    nodeId: \"ns=3;i=1001\",\n    datatype:\"Double\"\n});\n\nmsg.payload.push(\n{\n    // Random\n    nodeId: \"ns=3;i=1002\",\n    datatype:\"Double\"\n});\n\nmsg.payload.push(\n{\n    // Sawtooth\n    nodeId: \"ns=3;i=1003\",\n    datatype:\"Double\"\n});\n\nreturn msg;\n","outputs":1,"noerr":0,"x":640,"y":280,"wires":[["244b0726.cf6e98"]]},{"id":"700c6d99.0e7a84","type":"inject","z":"7008401a.b94db","name":"Subscribe multiple","topic":"multiple","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":280,"wires":[["bbf28314.1321f"]]},{"id":"244b0726.cf6e98","type":"OpcUa-Client","z":"7008401a.b94db","endpoint":"68021f9.ba14de","action":"subscribe","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":900,"y":280,"wires":[["ce737735.8cd168","d0e678a9.503678"]]},{"id":"ce737735.8cd168","type":"debug","z":"7008401a.b94db","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1120,"y":280,"wires":[]},{"id":"d0e678a9.503678","type":"function","z":"7008401a.b94db","name":"Just value","func":"if (msg.payload && msg.payload.value) {\n  var value = msg.payload.value.value;\n  msg.payload = value;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":140,"wires":[["d26bd7f3.ee7fb8"]]},{"id":"d26bd7f3.ee7fb8","type":"debug","z":"7008401a.b94db","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1320,"y":140,"wires":[]}]