examples/SYSopcuaFlow.json
[
  {
    "id": "66dabf03.46121",
    "type": "OpcUa-Endpoint",
    "z": "5ec1e150.40273",
    "endpoint": "opc.tcp://192.168.1.15:53530/OPCUA/SimulationServer",
    "login": false
  },
  {
    "id": "7cb5d30d.2e00ec",
    "type": "file",
    "z": "5ec1e150.40273",
    "name": "Address.txt",
    "filename": "./public/users/opc-ua/Address.txt",
    "appendNewline": true,
    "createDir": true,
    "overwriteFile": "false",
    "x": 850,
    "y": 100,
    "wires": []
  },
  {
    "id": "75ff66ac.f39498",
    "type": "comment",
    "z": "5ec1e150.40273",
    "name": "PROSYS OPC-UA",
    "info": "using the PROSYS OPC-UA Simulation Server",
    "x": 130,
    "y": 240,
    "wires": []
  },
  {
    "id": "fd7bd63d.2f3178",
    "type": "OpcUa-Item",
    "z": "5ec1e150.40273",
    "item": "ns=4;s=free_memory",
    "datatype": "opcua.DataType.Double",
    "value": "",
    "name": "FreeMemory",
    "x": 370,
    "y": 300,
    "wires": [
      [
        "a6eb9ec.c21db6"
      ]
    ]
  },
  {
    "id": "2dd2dd3c.5d9b72",
    "type": "inject",
    "z": "5ec1e150.40273",
    "name": "Read",
    "topic": "",
    "payload": "test2",
    "payloadType": "none",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 110,
    "y": 300,
    "wires": [
      [
        "fd7bd63d.2f3178"
      ]
    ]
  },
  {
    "id": "8b2daf0a.2ac5b",
    "type": "debug",
    "z": "5ec1e150.40273",
    "name": "Read value",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 850,
    "y": 320,
    "wires": []
  },
  {
    "id": "7b069e3f.171f5",
    "type": "OpcUa-Item",
    "z": "5ec1e150.40273",
    "item": "ns=4;s=DateTime",
    "datatype": "String",
    "value": "",
    "name": "",
    "x": 360,
    "y": 380,
    "wires": [
      [
        "a6eb9ec.c21db6",
        "b289b3e3.c303"
      ]
    ]
  },
  {
    "id": "a6eb9ec.c21db6",
    "type": "OpcUa-Client",
    "z": "5ec1e150.40273",
    "endpoint": "66dabf03.46121",
    "action": "read",
    "time": "",
    "name": "Test server (read items)",
    "x": 610,
    "y": 320,
    "wires": [
      [
        "8b2daf0a.2ac5b"
      ]
    ]
  },
  {
    "id": "c4e6019e.66af7",
    "type": "OpcUa-Item",
    "z": "5ec1e150.40273",
    "item": "ns=4;s=free_memory",
    "datatype": "String",
    "value": "",
    "name": "",
    "x": 360,
    "y": 420,
    "wires": [
      [
        "b289b3e3.c303"
      ]
    ]
  },
  {
    "id": "4ec38626.22afb8",
    "type": "inject",
    "z": "5ec1e150.40273",
    "name": "Subscribe",
    "topic": "",
    "payload": "test2",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 120,
    "y": 420,
    "wires": [
      [
        "c4e6019e.66af7"
      ]
    ]
  },
  {
    "id": "de7b113d.00879",
    "type": "inject",
    "z": "5ec1e150.40273",
    "name": "Browse",
    "topic": "ns=2;s=MyDevice",
    "payload": "",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 110,
    "y": 60,
    "wires": [
      [
        "fb399d4f.61dc4",
        "19dfffe3.6c26c"
      ]
    ]
  },
  {
    "id": "28d77e5.8101482",
    "type": "function",
    "z": "5ec1e150.40273",
    "name": "Items",
    "func": "msg.payload=msg.browseName+\"|\"+msg.topic;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 530,
    "y": 120,
    "wires": [
      [
        "7cb5d30d.2e00ec",
        "b10ffb29.47ab88"
      ]
    ]
  },
  {
    "id": "fb399d4f.61dc4",
    "type": "trigger",
    "z": "5ec1e150.40273",
    "op1": "object|address",
    "op2": "0",
    "op1type": "val",
    "op2type": "",
    "duration": "0",
    "extend": "false",
    "units": "ms",
    "name": "Clear file",
    "x": 480,
    "y": 60,
    "wires": [
      [
        "e643c78e.1fe608"
      ]
    ]
  },
  {
    "id": "e643c78e.1fe608",
    "type": "file",
    "z": "5ec1e150.40273",
    "name": "Address.txt",
    "filename": "./public/users/opc-ua/Address.txt",
    "appendNewline": true,
    "createDir": true,
    "overwriteFile": "false",
    "x": 850,
    "y": 60,
    "wires": []
  },
  {
    "id": "19dfffe3.6c26c",
    "type": "OpcUa-Client",
    "z": "5ec1e150.40273",
    "endpoint": "66dabf03.46121",
    "action": "browse",
    "time": "",
    "name": "Test server (browse)",
    "x": 320,
    "y": 160,
    "wires": [
      [
        "28d77e5.8101482",
        "bd51e6e9.102cf8"
      ]
    ]
  },
  {
    "id": "ca827ee0.3633a",
    "type": "debug",
    "z": "5ec1e150.40273",
    "name": "Subscribed values",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 870,
    "y": 420,
    "wires": []
  },
  {
    "id": "b10ffb29.47ab88",
    "type": "debug",
    "z": "5ec1e150.40273",
    "name": "Address items",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 860,
    "y": 140,
    "wires": []
  },
  {
    "id": "77256a3c.71f1d4",
    "type": "comment",
    "z": "5ec1e150.40273",
    "name": "v9.1.0",
    "info": "Browse node allows user to select item:\n- runtime browse\n- select RootFolder -> SubFolder\n- select Item\n\nActions:\nread\nwrite\nbrowse\nsubscribe\n\nNodes:\nclient node for actions\nitem node for defining item\n",
    "x": 90,
    "y": 200,
    "wires": []
  },
  {
    "id": "2ec2bede.18aba2",
    "type": "inject",
    "z": "5ec1e150.40273",
    "name": "Browse Alarm",
    "topic": "ns=2;s=MyLevel.Alarm",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 130,
    "y": 520,
    "wires": [
      [
        "60103cf1.60b664"
      ]
    ]
  },
  {
    "id": "bd51e6e9.102cf8",
    "type": "template",
    "z": "5ec1e150.40273",
    "name": "OpcUa-Item",
    "field": "payload",
    "fieldType": "msg",
    "syntax": "mustache",
    "template": "[\n  {\n    \"id\": \"4b12ca9b.e7e184\",\n    \"type\": \"OpcUa-Item\",\n    \"item\": \"{{topic}}\",\n    \"datatype\": \"opcua.DataType.Double\",\n    \"value\": \"66.6\",\n    \"name\": \"{{browseName}}\",\n    \"x\": 251,\n    \"y\": 334,\n    \"z\": \"30ffd2ee.59fdd6\",\n    \"wires\": [\n      [\n        \"70dd1397.3c8e44\"\n      ]\n    ]\n  }\n]",
    "x": 550,
    "y": 180,
    "wires": [
      [
        "251746cc.116c3a",
        "d7e87799.e5bba8"
      ]
    ]
  },
  {
    "id": "251746cc.116c3a",
    "type": "function",
    "z": "5ec1e150.40273",
    "name": "Save to lib",
    "func": "msg.filename=\"./public/users/opc-ua/templates/\"+msg.browseName+\".js\";\nmsg.payload=\"// name: \"+msg.browseName+\"\\n\"+\"// field: payload\\n\"+msg.payload;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 650,
    "y": 260,
    "wires": [
      [
        "d5eda8e6.d58238",
        "3826e0f3.91b6d"
      ]
    ]
  },
  {
    "id": "d5eda8e6.d58238",
    "type": "debug",
    "z": "5ec1e150.40273",
    "name": "Pre-configured library items",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 900,
    "y": 280,
    "wires": []
  },
  {
    "id": "3826e0f3.91b6d",
    "type": "file",
    "z": "5ec1e150.40273",
    "name": "OPC UA Items",
    "filename": "",
    "appendNewline": true,
    "createDir": true,
    "overwriteFile": "false",
    "x": 860,
    "y": 220,
    "wires": []
  },
  {
    "id": "d7e87799.e5bba8",
    "type": "debug",
    "z": "5ec1e150.40273",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 850,
    "y": 180,
    "wires": []
  },
  {
    "id": "1caef89f.2ed4e7",
    "type": "inject",
    "z": "5ec1e150.40273",
    "name": "Read",
    "topic": "",
    "payload": "",
    "payloadType": "none",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 110,
    "y": 340,
    "wires": [
      [
        "27c2bd79.578a32"
      ]
    ]
  },
  {
    "id": "27c2bd79.578a32",
    "type": "OpcUa-Item",
    "z": "5ec1e150.40273",
    "item": "ns=0;i=112",
    "datatype": "Double",
    "value": "",
    "name": "",
    "x": 360,
    "y": 340,
    "wires": [
      [
        "a6eb9ec.c21db6"
      ]
    ]
  },
  {
    "id": "60103cf1.60b664",
    "type": "OpcUa-Client",
    "z": "5ec1e150.40273",
    "endpoint": "66dabf03.46121",
    "action": "browse",
    "time": "10000",
    "name": "",
    "x": 360,
    "y": 520,
    "wires": [
      [
        "7ceef407.eafb3c",
        "926dc4c4.041508"
      ]
    ]
  },
  {
    "id": "7ceef407.eafb3c",
    "type": "debug",
    "z": "5ec1e150.40273",
    "name": "Browsed JSON",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 860,
    "y": 520,
    "wires": []
  },
  {
    "id": "926dc4c4.041508",
    "type": "function",
    "z": "5ec1e150.40273",
    "name": "read browseName and topic",
    "func": "msg.payload=msg.browseName+\" - \"+msg.topic;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 600,
    "y": 560,
    "wires": [
      [
        "1af9b387.3278dc"
      ]
    ]
  },
  {
    "id": "1af9b387.3278dc",
    "type": "debug",
    "z": "5ec1e150.40273",
    "name": "browseName",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 850,
    "y": 560,
    "wires": []
  },
  {
    "id": "b289b3e3.c303",
    "type": "OpcUa-Client",
    "z": "5ec1e150.40273",
    "endpoint": "66dabf03.46121",
    "action": "subscribe",
    "time": 10000,
    "name": "",
    "x": 640,
    "y": 420,
    "wires": [
      [
        "ca827ee0.3633a"
      ]
    ]
  },
  {
    "id": "f6f54112.c9ed4",
    "type": "catch",
    "z": "5ec1e150.40273",
    "name": "",
    "scope": null,
    "x": 140,
    "y": 700,
    "wires": [
      [
        "3b51ffbd.c887f"
      ]
    ]
  },
  {
    "id": "3b51ffbd.c887f",
    "type": "debug",
    "z": "5ec1e150.40273",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 330,
    "y": 700,
    "wires": []
  },
  {
    "id": "6868efd9.25a6c",
    "type": "inject",
    "z": "5ec1e150.40273",
    "name": "Read & Subscribe",
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 150,
    "y": 380,
    "wires": [
      [
        "7b069e3f.171f5"
      ]
    ]
  },
  {
    "id": "e7585aa3.d5d658",
    "type": "OpcUa-Event",
    "z": "5ec1e150.40273",
    "root": "i=2253",
    "eventtype": "i=2041",
    "name": "",
    "x": 380,
    "y": 620,
    "wires": [
      [
        "6b885842.c7dfb8"
      ]
    ]
  },
  {
    "id": "983dcde4.57503",
    "type": "inject",
    "z": "5ec1e150.40273",
    "name": "Subscribe Events",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 140,
    "y": 620,
    "wires": [
      [
        "e7585aa3.d5d658"
      ]
    ]
  },
  {
    "id": "ff34939.6bc5c7",
    "type": "debug",
    "z": "5ec1e150.40273",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 850,
    "y": 620,
    "wires": []
  },
  {
    "id": "6b885842.c7dfb8",
    "type": "OpcUa-Client",
    "z": "5ec1e150.40273",
    "endpoint": "66dabf03.46121",
    "action": "events",
    "time": 10000,
    "name": "",
    "x": 640,
    "y": 620,
    "wires": [
      [
        "ff34939.6bc5c7"
      ]
    ]
  }
]