examples/USER-CERT.json
[{"id":"87fa51364aa5e6b9","type":"tab","label":"User certificate","disabled":false,"info":"","env":[]},{"id":"894c6ff183e17d00","type":"OpcUa-Endpoint","endpoint":"opc.tcp://H7Q8Q13.mshome.net:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false,"usercert":false,"usercertificate":"d:/temp/DNA_client_selfSigned.pem","userprivatekey":"d:/temp/private_key.pem"},{"id":"55fb29f2b0164ca1","type":"OpcUa-Endpoint","endpoint":"opc.tcp://localhost:53888","secpol":"None","secmode":"None","none":false,"login":false,"usercert":true,"usercertificate":"C:/Users/karaimi/AppData/Roaming/node-red-opcua-nodejs/Config/UserPKI/UserCert_certificate.pem","userprivatekey":"C:/Users/karaimi/AppData/Roaming/node-red-opcua-nodejs/Config/UserPKI/own/private/private_key.pem"},{"id":"b89882556eef0530","type":"OpcUa-Client","z":"87fa51364aa5e6b9","endpoint":"55fb29f2b0164ca1","action":"browse","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"User certificate  ","x":750,"y":260,"wires":[["bef4d9fb1c7d0e8c"]]},{"id":"fd3af161a173cec0","type":"inject","z":"87fa51364aa5e6b9","name":"Browse VendorName","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"collect","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=1;s=VendorName","payloadType":"date","x":470,"y":260,"wires":[["b89882556eef0530"]]},{"id":"bef4d9fb1c7d0e8c","type":"debug","z":"87fa51364aa5e6b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":260,"wires":[]},{"id":"30ea6f3cacab8803","type":"OpcUa-Server","z":"87fa51364aa5e6b9","port":"53888","name":"","endpoint":"","users":"users.json","nodesetDir":"","folderName4PKI":"","autoAcceptUnknownCertificate":true,"registerToDiscovery":false,"constructDefaultAddressSpace":true,"allowAnonymous":true,"endpointNone":true,"endpointSign":true,"endpointSignEncrypt":true,"endpointBasic128Rsa15":true,"endpointBasic256":true,"endpointBasic256Sha256":true,"maxNodesPerBrowse":0,"maxNodesPerHistoryReadData":0,"maxNodesPerHistoryReadEvents":0,"maxNodesPerHistoryUpdateData":0,"maxNodesPerRead":0,"maxNodesPerWrite":0,"maxNodesPerMethodCall":0,"maxNodesPerRegisterNodes":0,"maxNodesPerNodeManagement":0,"maxMonitoredItemsPerCall":0,"maxNodesPerHistoryUpdateEvents":0,"maxNodesPerTranslateBrowsePathsToNodeIds":0,"x":740,"y":360,"wires":[[]]},{"id":"f02b470a46becf6e","type":"comment","z":"87fa51364aa5e6b9","name":"Openssl commands for user certificate","info":"\n1) Goto to folder UserPKI\n\n2) Use openssl to generate user certificate:\n   openssl req -new -x509 -key own/private/private_key.pem -out UserCert_certificate.pem -days 365 -subj \"/CN=user1\" -sha256 -text\n\nNOTE: Certificate is valid 1 year\nNOTE: Username is user1\n\nIn the node-red flow, client node:\n\nCertificate:\nC:/Users/karaimi/AppData/Roaming/node-red-opcua-nodejs/Config/UserPKI/UserCert_certificate.pem\n\nPrivateKey:\nC:/Users/karaimi/AppData/Roaming/node-red-opcua-nodejs/Config/UserPKI/own/private/private_key.pem\n\nUaExpert will need certificate in der format, convert pem to der format:\nopenssl x509 -outform der -in UserCert_certificate.pem -out UserCert_certificate.der\n","x":520,"y":160,"wires":[]}]